{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<style media="screen">
  body {
    background-color: #f7f7f7 !important;
  }
  ol.breadcrumb {
    font-size: 80%;
    background: #fafafa;
  }
  ol.breadcrumb li+li:before {
    color: black;
    content: ">" !important;
  }
  ol.breadcrumb li a {
    color: #7f7f7f;
    text-decoration: none;
  }
  ol.breadcrumb li.active {
    color: #7f7f7f;
    font-weight: bold;
  }
  </style>
</head>
<body>
  <div class="container-fluid" style="background-color: #fafafa !important;">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">ホーム</a></li>
          <li class="breadcrumb-item active" aria-current="page">パスワードのリセット</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="container p-0">
        <p class="py-3 mt-3" style="color: #555555; font-size: 130%; font-weight: bold;">パスワードのリセット</p>
      </div>
    </div>
    <div class="container">
      <div class="container p-0">
        <p class="py-3" style="color: #555555; font-size: 100%;">ご登録されたメールアドレスを入力してください。パスワード再設定のご案内をお送りします。</p>
      </div>
    </div>
    <div class="container">
      <form method='post' action=''>{% csrf_token %}
        <div class="container p-3" style="background-color: #ffffff;">
          <div class="row p-3">
            <div class="col col-md-2">
              <p class="p-2" style="color: #1daf9e;">メールアドレス</p>
            </div>
            <div class="col">
              <div class="d-flex flex-row justify-content-between">
                <div class="col">
                  <div class="row">
                    <input placeholder="example@pro-s.co.jp" type="text" name="email" value="" class="mt-2" style="border: none; border-radius: 4px; background-color: #f6fcfb; color: #1daf9e;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3 pt-3">
          <button class="w-25" type="submit" style="color: #ffffff; border-radius: 4px; border-color: #1daf9e;background-color: #1daf9e;" name="button">メールを送信する</button>
        </div>
      </form>
    </div>
  </div>
</body>

{% endblock %}
