{% extends "base.html" %}


{% block content %}

<div class="container">
  <!-- {{ object.order_id }} -- {{ object.cart }} -->

{% if not billing_profile %}

<div class='row text-center'>
<div class='col-12 col-md-6 mx-auto'>
</br>
<p class='lead'><b> LOGIN </b></p>
<p>** If you don't have an account yet please <a href="{% url 'register' %}"> Signup </a>  first.</p>
    {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
</div>
 <!-- <p class='lead'>or</p>
<div class='col-8 col-md-8'>
</br>
     <p class='lead'> Continue as Guest</p>
    {% url "guest_register" as guest_register_url %}

    
     {% include 'accounts/snippets/form.html' with form=guest_form  next_url=request.build_absolute_uri action_url=guest_register_url %}
    </div> -->
    </div>

{% else %}

    {% if not object.shipping_address %}
    
    <div class='row'>
       <div class='col-12'>
       </br>
          <p class='lead text-center'><strong>Shipping Address </strong></p>
          <hr/>
       </div>
             <div class='col-lg-6 col-sm-12 col-md-6'>
    {% url "checkout_address_create" as checkout_address_create %}

    {% include 'addresses/form.html' with form=address_form  next_url=request.build_absolute_uri  action_url=checkout_address_create address_type='shipping' %}
             </div>
    <div class='col-lg-6 col-md-6 col-sm-12'>
      {% url 'checkout_address_reuse' as checkout_address_reuse %}
      {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
     </div>
    
  
  
    </div>
     

     {% elif not object.billing_address %}
    
    <div class='row'>
      <div class='col-12'>
      </br>
        <p class='lead text-center'> <strong>Billing Address </strong></p>
          <hr/>
      </div>
       <div class='col-lg-6 col-md-6 col-sm-12'>
        
    {% url "checkout_address_create" as checkout_address_create %}

    {% include 'addresses/form.html' with form=address_form  next_url=request.build_absolute_uri  action_url=checkout_address_create address_type='billing' %}
    
       </div>
    <div class='col-lg-6 col-md-6 col-sm-12'>
       {% url 'checkout_address_reuse' as checkout_address_reuse %}
   {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
      </div>
  
     </div>
     {% else %}

       {% if not has_card %}
       <!-- enter credit card-->
      </br>
      <div class='container' style='background-color: #263238; color:white'>
       <h2 class='text-center'>Payment</h2>
       <div class='stripe-payment-form'  data-token='{{ publish_key }}' data-next-url= '{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>
       </div>

       {% else %}

       <h2 class='text-center'> Finalize Checkout </h2>
    
      <div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <span class="badge badge-secondary badge-pill">{{ request.session.cart_items }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
     {% for item in object.cart.cartitem_set.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h6 class="my-0"> {% if item.product.image %}
      <img style="width:50px; height:50px !important;" src='{{ item.product.image.url }}' class='img-fluid' />
      {% endif %}
      {{ item.quantity }} x {{ item.product.product_name}} <b>({{ item.days }} days)[ {{ item.start_date }}-{{ item.end_date }} ]</b></h6>
        {% if item.variations.all %} 
        <ul>{% for subitem in item.variations.all %} 
   <li>{{ subitem.category|capfirst }} : {{ subitem.title|capfirst }} {% endfor %}</li></ul>{% endif %}
        <small class="text-muted">{{ item.product.description}}</small>
        </div>
        <span class="text-muted">${{ item.line_total }}</span>
    </li>
    {% endfor %}
     <li class="list-group-item d-flex justify-content-between">
        <span>Shipping Address : {{ object.shipping_address.get_address }}</span>



      <form method='POST' id='delete-shipping-form-{{ object.order_id }}' action='{% url "orders:update_address" object.order_id %}' style="display:none;">
      {% csrf_token %}

      </form>
      <button onclick="if(confirm('Are you sure to edit your Shipping Address?')){
      event.preventDefault();
      document.getElementById('delete-shipping-form-{{ object.order_id }}').submit();

      }
      else{
        event.preventDefault();
      }"
      
      class='btn btn-raised btn-primary btn-sm' href=''>Edit your shipping Address? </button>
    </li>


    <li class="list-group-item d-flex justify-content-between">
        <span>Billing Address : {{ object.billing_address.get_address }} </span>

      <form method='POST' id='delete-billing-form-{{ object.order_id }}' action='{% url "orders:update_billingaddress" object.order_id %}' style="display:none;">
      {% csrf_token %}

      </form>
      <button onclick="if(confirm('Are you sure to edit your Billing Address?')){
      event.preventDefault();
      document.getElementById('delete-billing-form-{{ object.order_id }}').submit();

      }
      else{
        event.preventDefault();
      }"
      
      class='btn btn-raised btn-primary btn-sm' href=''>Edit your billing Address? </button>
      
    </li>
     <li class="list-group-item d-flex justify-content-between">
        <span>Payment Method : {{ billing_profile.default_card }}</span>
      
       <form method='POST' id='delete-payment-card-form' action='{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}' style="display:none;">
      {% csrf_token %}

      </form>
      <button onclick="if(confirm('Are you sure to add new Card')){
      event.preventDefault();
      document.getElementById('delete-payment-card-form').submit();

      }
      else{
        event.preventDefault();
      }"
      
      class='btn btn-raised btn-primary btn-sm' href=''>Change </button>
      
        
     
    </li>
    {% if object.cart.coupon %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Promo code</h6>
        <small>{{ object.cart.coupon.code }}</small>
        </div>
        <span class="text-success">-${{ object.cart.coupon.amount }}</span>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between">
        <span>Cart Subtotal</span>
        <strong>${{ object.cart.subtotal }}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Shipping Total </span>
        <strong>+ ${{ object.cart.shipping_total }}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Tax</span>
        <strong>${{ object.cart.tax }}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Order Total</span>
        <strong>= ${{ object.total }}</strong>
    </li>
    </ul>

    
    <form class="card p-2" action="{% url 'orders:add-coupon' object.cart %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <!-- <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipent's username" aria-describedby="basic-addon2"> -->
            {{ couponform.code }}
            <div class="input-group-append">
            <button class="btn btn-secondary btn-md waves-effect m-0" type="submit">Redeem</button>
            </div>
        </div>
    </form>
    

</div>
       <div class='text-center'>
       <form class='form' method="POST" action="">{% csrf_token %}
         <button type='submit' class='btn-lg btn btn-success'>Checkout finally</button>
     
       </form>
       </div>
       
       {% endif %}
    {% endif %}
{% endif %}
</div>
{% endblock %}