{% extends "base.html" %}


{% block content %}
<h1> Cart </h1>
{% if cart.cartitem_set.exists %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">quantity</th>
      <th scope="col">size</th>
      <th scope="col">days</th>
      <th scope="col">Price</th>
      
      
      
    </tr>
  </thead>
  <tbody>
    
      {% for item in cart.cartitem_set.all %}
      <tr>

    
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ item.product.get_absolute_url }}'> {{ item.product.product_name }} </a> {% if item.variations.all %} 
        <ul>{% for subitem in item.variations.all %} 
  <li>{{ subitem.category|capfirst }} : {{ subitem.title|capfirst }} {% endfor %}</li></ul>{% endif %}
      
      </td>
      <td>{{ item.quantity }}</td>
      <td>None</td>
      <td>1</td>
      <td>{{ item.product.cost_per_day }}</td>
      <td><a href='{% url "cart:remove_cart" item.id %}'>Remove</a></td>
      
    </tr>
     
    {% endfor %}
   
    <tr>
      <td colspan="5"></td>
      
       <td><b>Subtotal</b> $ {{ cart.subtotal }}</td>
    </tr>
    
    <tr>
      <td colspan="5"></td>
      
       <td><b>Total(Including all taxes)</b> $ {{ cart.total }}+ $15(Shipping total)</td>
    </tr>

    <td colspan="5"></td>
      
       <td><a class='btn btn-lg btn-black btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
    </tr>



  </tbody>
</table>

   {% else %}
   <p class='lead'>Cart is empty keep shopping!</p>
 {% endif %}
{% endblock %}