{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

<!-- Fontawesome css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- jquery confirm css-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<!--Custom stripe styling-->
<link rel="stylesheet" href="{% static 'css/stripe-custom-style.css' %}">
<!--Footer-->
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<!-- bootstap cdn -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- fontawesome cdn -->
	<script src="https://kit.fontawesome.com/1343b739de.js" crossorigin="anonymous"></script>
	<!-- slick -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<!-- custom stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Gugi|Lato|Playfair+Display|Prata|Roboto|Sacramento|Sofia&display=swap" rel="stylesheet"> 

