{% load static i18n %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
        
			<div class="row text-center text-xs-center text-sm-left text-md-left ">
				<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
					<h5>{% trans "Information" %}</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Blogs" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Policies" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "FAQ" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Documents Required" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "SiteMap" %}</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<h5>{% trans "Lend with us" %}</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{% url 'join_us' %}"><i class="fa fa-angle-double-right"></i>{% trans "Join as a lender now" %}</a></li>
						<li><a href="{% url 'join_us' %}" title='click here'><i class="fa fa-angle-double-right"></i>{% trans "For Lenders (list your items)" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "FAQ" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Documents required(for lenders)" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Videos" %}</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<h5>{% trans "Quick links" %}</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "About us" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Careers" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "Privacy policies" %}</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>{% trans "How it works" %}</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>{% trans "Press" %}</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="#">Erenta Corporation</a></u> is a Registered MSP/ISO of Tokyo [a wholly owned subsidiary of Japan]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Erenta</a></p>
				</div>
				</hr>
			</div>	
        
        </div>
    </section>
    
    