{% load staticfiles %}
<!-- <div class="card" style="width: 18rem">
   {% if instance.image %}
  <a href="{{ instance.get_absolute_url }}" ><img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo">
  </a>
  {% else %}
  <img class='image-responsive' src='{% static "img/placeholder.png" %}'/>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-title"> {{ instance.product_name|capfirst }}</h5>
    <h6 class="card-title"> {% if instance.discount_price %}
            <strike> ${{ instance.cost_per_day }}</strike> ${{ instance.discount_price }}/day ({{ instance.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ instance.cost_per_day }}/day
           {% endif %}
           </h6>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View! </a>
    
    
    
  </div>
</div> -->
<style>
              @media screen and ( max-width: 992px) {
                #car1 {
                  width: 15em ;
                
                  
                }
              }
              @media only screen and (min-width: 1200px) {
                #car1 {
                  width: 15rem ;
              }
              }

              /* On screens that are 600px or less, set the background color to olive */
              @media screen and (max-width: 600px) {
                #car1 {
                  width: 9rem ;
                  
            }
          }
          
        .checked {
          color: orange;
        }
      
            </style>

        <div id=car1 class="card">

              <!--Card image-->
              <div class="view overlay">
                 {% if instance.image %}
                 <a href="{{ instance.get_absolute_url }}" target="_blank" ><img src="{{ instance.image.url }}" class="card-img-top" style="height: 15rem;" alt="{{ instance.title }} logo">
                   </a>
                  {% else %}
                  <img class='card-img-top' style="height: 15rem" src='{% static "img/placeholder.png" %}'/>
                  {% endif %}
               
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
              {% if instance.rating >= 1 %}
              ({{ instance.rating }})
              {% endif %}
                {% if instance.rating >= 1 and instance.rating < 2 %}
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            {% endif %}

            {% if instance.rating >= 2 and instance.rating < 3 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if instance.rating >= 3 and instance.rating < 4 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if instance.rating >= 4 and instance.rating < 4.5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if  instance.rating >= 4.5 and instance.rating < 5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        {% endif %}                  
                 <h6 class="card-title text-grey"> {{ instance.categary|capfirst }},{{ instance.brand|capfirst }}</h6>
                
              
                <h5>
                  <strong>
                    <a href="{{ instance.get_absolute_url }}" target="_blank"><div class="text-grey">{{ instance.product_name|capfirst }}</div></a>
                     {% for t in trending %}
                     {% if t.product.id == instance.id %}
                      <span class="badge badge-pill badge-primary">Trending</span>
                      {% endif %}
                      {% endfor %}
                      {% if 'days' in instance.updated|timesince or 'day' in instance.updated|timesince or 'hour' in instance.updated|timesince or 'minutes' in instance.updated|timesince or 'hours' in 'instance.updated|timesince' %}
                     
                      <span class="badge badge-pill badge-danger">NEW</span>
                    
                      {% endif %}
                    
                  </strong>
                </h5>

                <h6 class="font-weight-bold blue-text">
                <strong>  {% if instance.discount_price %}
            <strike> ${{ instance.cost_per_day }}</strike> ${{ instance.discount_price }}/day ({{ instance.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ instance.cost_per_day }}/day
           {% endif %}
           
           </strong>
                </h6>

              </div>
              <!--Card content-->

            </div>