{% load staticfiles %}
    <style>
              

          .checked {
                  color: orange;
                }
    </style>
<div class="container" style="background-color: #ffffff">
 <div class='row'>
  {% if instance.image %}
  <img src="{{ instance.image.url }}" class="card-img-top pt-2 pl-2" style="height:100px;width:100px" alt="{{ instance.title }} logo">
  
  {% endif %}
  <div class="card-body text-center">
    
       {% if instance.rating >= 1 %}
              ({{ instance.rating }})
              {% endif %}
                {% if instance.rating >= 1 and instance.rating < 2 %}
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            {% endif %}

            {% if instance.rating >= 2 and instance.rating < 3 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if instance.rating >= 3 and instance.rating < 4 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if instance.rating >= 4 and instance.rating < 4.5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if  instance.rating >= 4.5 and instance.rating <= 5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        {% endif %} 
                    
    <h5 class="card-title"> {{ instance.product_name|capfirst }}</h5>
     <h6 class="card-title"> {% if instance.discount_price %}
            <strike> ${{ instance.cost_per_day }}</strike> ${{ instance.discount_price }}/day ({{ instance.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ instance.cost_per_day }}/day
           {% endif %}
           </h6>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
    <a href="{{ instance.get_absolute_url1 }}" class="btn mb-2" style='background-color: #1daf9e; color:#ffffff;'>Update product details </a>
    <a href="{% url 'products:image' instance.slug %}" class="btn mb-2" style='background-color: #1daf9e; color:#ffffff;'>Update product images </a>
    <a href="{% url 'products:quantity' instance.slug %}" class="btn mb-2" style='background-color: #1daf9e; color:#ffffff;'>Update product quantity </a>

    
    
  </div>  
  </div>
</div>