{% load staticfiles %}
<div class="container">
<div class="card" style="width: 20rem ">
   {% if instance.image %}
  <a href="{{ instance.get_absolute_url }}" ><img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo">
  </a>
  {% else %}
  <img class='image-responsive' src='{% static "img/placeholder.png" %}'/>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-title"> {{ instance.product_name }}</h5>
    <h6 class="card-title"> {% if instance.discount_price %}
            <strike> ${{ instance.cost_per_day }}</strike> ${{ instance.discount_price }}/day ({{ instance.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ instance.cost_per_day }}/day
           {% endif %}
           </h6>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
    <a href='{% url "productimage" instance.id %}' class="btn btn-primary"> Add more images. </a>
    <a href="#" class="btn btn-warning"> Add more variations.(eg. size,color) </a>
    <a href="#" class="btn btn-danger"> Add quantity of each product variations </a>
    
    
    
  </div>
</div>
</div>