{% extends "base.html" %}


{% block content %}

 <br/>

 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h2 class='text-center'> Your Order Id -: {{ object.order_id }}</h2>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>



{% include 'orders/order_snippet.html' %}
<div class='text-center'>
<a href="{% url 'pdf' object.order_id %}"> <button class='btn btn-primary'>Print Invoice!</button></a>
{% if object.refund_requested and not object.refund_granted %}
<p> <strong>Status: Order is cancelled and refund is requested it will take 7 days to proceed. </strong></p>
{% elif object.status == 'refunded' or object.refund_granted %}
<p> <strong>Status : Refund is granted. </strong> </p>


{% endif %}
</div>
</div>
</div>

{% endblock %}