<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <span class="badge badge-secondary badge-pill">{{ object.cart.cartitem_set.all.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
     {% for item in object.cart.cartitem_set.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0"> {% if item.product.image %}
      <img style="width:50px; height:50px !important;" src='{{ item.product.image.url }}' class='img-fluid' />
      {% endif %}
        <h6 class="my-0">{{ item.quantity }} x {{ item.product.product_name}} <b>(for {{ item.days }} days)[ {{ item.start_date }}-{{ item.end_date }} ]</b></h6>
        {% if item.variations.all %} 
        <ul>{% for subitem in item.variations.all %} 
   <li>{{ subitem.category|capfirst }} : {{ subitem.title|capfirst }} {% endfor %}</li></ul>{% endif %}
        <small class="text-muted">{{ item.product.description}}</small>
    
    
        <div class='row'>
            {% if item.refund_requested and not item.refund_granted %}
            <b>Refund is requested, It will take upto 7 days. Please wait.</b>
            {% elif item.refund_granted %}
            <b>Refund is granted successfully.</b>
            {% elif object.refund_requested or object.refund_granted %}
            <b>See below for status.</b>
            {% elif item.status == 'paid' %}


            <form method='GET' id='refund-request-form-{{ item.id }}-{{ item.product.slug }}' action="{% url 'product-refund' item.id item.product.slug %}" style="display:none;">
            {% csrf_token %}

            </form>
            <button onclick="if(confirm('Are you sure to request for Refund?')){
            event.preventDefault();
            document.getElementById('refund-request-form-{{ item.id }}-{{ item.product.slug }}').submit();

            }
            else{
                event.preventDefault();
            }"
            
            class='btn btn-raised btn-danger btn-sm mx-2'  href=''>Request Refund </button>

            {% else %}
             {% if not item.cancel_request %}
             {% if item.updated >= item.cancel_time and item.status == 'shipped' %}

             <form method='GET' id='refund-request-form-{{ item.id }}-{{ item.product.slug }}' action="{% url 'product-refund' item.id item.product.slug %}" style="display:none;">
            {% csrf_token %}

            </form>
            <button onclick="if(confirm('Are you sure to request for Refund?')){
            event.preventDefault();
            document.getElementById('refund-request-form-{{ item.id }}-{{ item.product.slug }}').submit();

            }
            else{
                event.preventDefault();
            }"
            
            class='btn btn-raised btn-danger btn-sm mx-2'  href=''>Request Refund </button>

            {% endif %}
            {% endif %}
            {% endif %}
           
    <a href="{% url 'review' item.product.slug %}"> <button class='btn btn-primary btn-sm'> Rate the product</button></a>
    
    {% if not paid %}
    <a href='{{ item.product.get_absolute_url }}'  target="_blank">  <button class='btn btn-warning btn-sm' style="margin-left: 5px;">  Add to cart Now?</button> </a>
    {% endif %}
        </div>
        </div>
        <div class='col-4'>
        <span class='text-muted'> Status : </span>
     <font color="green"> <strong> {{ item.status }} </strong></font>
        </div>
        <div>
        <br/>
        <span class="text-muted">${{ item.line_total }}</span>
         <div>
         <br/>
         <br/>
         <br/>
         <br/>
     {% if item.status == 'shipped' and not item.cancel_request %}
     {% if item.cancel_time > item.updated  %}
        <a  href='{% url "refund" item.id item.product.slug %}'><button class='btn-sm btn btn-danger'>Cancel Item</button></a>
     {% endif %}
    {% elif item.cancel_request and not item.cancel_granted %}
   <b><font color='red'><p>** Cancel request has been initiated.</p> </font> </b>
   {% elif item.cancel_granted %}
   <b><font color='red'><p>** Cancellation has been done.</p> </font></b>
        {% endif %}
    </div>
     </div>
    
    </li>
    <hr/>
    <a href="{% url 'orders:user_item_tracker' item.id object.order_id %}"> <button class='btn btn-primary btn-sm'> Track</button></a>
    {% endfor %}
      <li class="list-group-item d-flex justify-content-between">
        <span>Shipping Address :</span>
        <strong> {{ object.shipping_address.get_address }}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Billing Address : </span>
        <strong> {{ object.billing_address.get_address }}</strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Your Email :  </span>
        <strong>{{ object.billing_profile }}</strong>
    </li>
     <!-- <li class="list-group-item d-flex justify-content-between">
        <span>Order's Status : </span>
     <font color="green"> <strong> {{ object.get_status }} </strong></font>
    </li> -->
    
    <li class="list-group-item d-flex justify-content-between">
        <span>Cart SubTotal</span>
    <font color="green"><strong>${{ object.cart.subtotal }}</strong></font>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Tax</span>
    <font color="green"><strong>+ ${{ object.cart.tax }}</strong></font>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Shipping Total</span>
    <font color="green"><strong>+ ${{ object.cart.shipping_total }}</strong></font>
    </li>
    
    <li class="list-group-item d-flex justify-content-between">
        <span>Cart Total(Including all taxes)</span>
    <font color="green"><strong>= ${{ object.cart.total }}</strong></font>
    </li>
    {% if object.cart.coupon %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Promo code</h6>
        <small>{{ object.cart.coupon.code }}</small>
        </div>
        <span class="text-success">- ${{ object.cart.coupon.amount }}</span>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between">
        <span>Order Total</span>
     <font color="green"><strong>= ${{ object.total }}</strong></font>
    </li>
    </ul>

    

</div>