{% extends "base.html" %}
{% load static i18n %}
{% load staticfiles %}

{% block content %}
<div class='container'>
<br/>
<div class='row'>
    <div class='col-12'>
        <h2 class='text-center'>{% trans "Orders" %}</h2>
    </div>
</div>
<div class='container' style='background-color: black;'>
  <div class='row'>
    {% if paid_orders %}
    <div class='col-md-3 col-sm-12 text-center mb-2' style='background-color: white;'>
      {% else %}
    <div class='col-md-3 col-sm-12 text-center mb-2'>
      {% endif %}
<strong><a href="{% url 'orders:list' %}">{% trans "Paid orders" %}</a> </strong>
</div>
{% if shipped_orders %}
    <div class='col-md-2 col-sm-12 text-center mb-2' style='background-color: white;'>
      {% else %}
    <div class='col-md-2 col-sm-12 text-center mb-2'>
      {% endif %}
<strong><a href="{% url 'orders:shippedlist' %}">{% trans "Shipped orders" %}</a> </strong>
</div>
{% if refund_orders %}
    <div class='col-md-2 col-sm-12 text-center mb-2' style='background-color: white;'>
      {% else %}
    <div class='col-md-2 col-sm-12 text-center mb-2'>
      {% endif %}
<strong><a href="{% url 'orders:refundedlist' %}">{% trans "Refunded orders" %}</a> </strong>
</div>
{% if returned_orders %}
    <div class='col-md-3 col-sm-12 text-center mb-2' style='background-color: white;'>
      {% else %}
    <div class='col-md-3 col-sm-12 text-center mb-2'>
      {% endif %}
<strong><a href="{% url 'orders:returnedlist' %}">{% trans "Retruned orders(after rent timeperiod)" %}</a> </strong>
</div>
  {% if cancelled_orders %}
    <div class='col-md-2 col-sm-12 text-center mb-2' style='background-color: white;'>
      {% else %}
    <div class='col-md-2 col-sm-12 text-center mb-2'>
      {% endif %}
      
<strong><a href="{% url 'orders:cancelledlist' %}">{% trans "Cancelled orders" %}</a> </strong>
</div>

</div>
</div>
<!-- <div class='row'>
    <div class='col'>
        <table class='table table-dark'>
            <thead><th>#</th><th>Cart Id</th><th>Products</th><th>Total</th><th>Date</th><th>View</th></thead>

            <tbody>
                {% for object in products %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>{{ object.cart }}</td>
                         <td>
                         {% for item in object.cart.cartitem_set.all %} {{ item.quantity}} X {{ item.product }} {% if not forloop.last %} , {% endif %}
                         {% endfor %}
                        </td> 
                         <td>{{ object.quantity}} X {{ object.product }}</td>
                        
                        <td>$ {{ object.cart.total }}</td>
                        <td> {{ object.timestamp }}</td>
                        <td><a class='btn btn-sm  btn-primary' href='#'>View your Order</a></td>
                    </tr>
                {% empty %}
                <tr><td colspan="3"><p class='lead'>No orders yet.</td></tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>  -->



 {% for object in products %}
 <div class='container' style='background-color:rgb(182, 182, 182);'>
  <div class='row'>
    <div class='col-md-1 col-sm-1'>
      <b>{{ forloop.counter }}.</b>
    </div>
    <div class='col-md-4 col-sm-4'>
    <b>{% trans "Order Id" %} -:  {{ object.order_id }} <br/>
      {% trans "Order Total" %} -:  ${{ object.total }} </b>
    </div>
    <div class='col-md-3 col-sm-3'>
    <b>{% trans "Order Placed" %} -: {{ object.timestamp }} </b>
    </div>
    <div class='col-md-4 col-sm-4'>
      <b><a href='{{ object.get_absolute_url }}'>{% trans "Order details" %}</a> </b> |
      <b>  <a href="{% url 'pdf' object.order_id %}"> {% trans "View Invoice" %}</a>
      </b>

    </div>
  </div>
  </div>
 {% for item in object.cart.cartitem_set.all %}
<div class="container"  style="background-color: #263238; color: white;">
  <br/>
  <div class='text-right'>
<strong> <font color='green'> {% trans "Status" %} -:  {% if item.refund_granted %} Refund granted {% elif item.cancel_granted %} Cancellation request accepted, Please check your notifications. {% else %} {{ item.status }} {% endif %}  </font> </strong>
<h6> (from {{ item.updated }})</h6>
  </div>
  {{ forloop.counter }}.
  {% if item.product.image %}
  <img src="{{ item.product.image.url }}" class="card-img-top" style="height:100px;width:100px" alt="{{ item.product.title }} logo">
  
  {% endif %}
  <div class="card-body">
                    
    <h5 class="card-title"><a href='{{ item.product.get_absolute_url }}'> {{ item.quantity }} X {{ item.product|capfirst }} </a></h5>
     <h6 class="card-title"> {% if item.product.discount_price %}
            <strike> ${{ item.product.cost_per_day }}</strike> ${{ item.product.discount_price }}/day ({{ item.product.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ item.product.cost_per_day }}/day
           {% endif %}
           </h6>
    <p class="card-text">{{ item.product.description|linebreaks|truncatewords:14 }}</p>
    <h6> {% trans "Cost" %} -: ${{ item.line_total }}</h6>
    <h6> {% trans "Rental Period" %} -: {{ item.start_date }} - {{ item.end_date }}( {{ item.days }} days )</h6>
    {% for o in item.product.user.supplier_set.all %}
    <h6>{% trans "lended by" %} -: {{ o.Shop_name }}</h6>
    <b>{% trans "Contact" %} -: {{ o.Mobile_number }}</b>
    {% endfor %}
    
  
  </div>
</div>

  {% empty %}
  <strong><p class='lead'>{% trans "No orders yet." %}</p> </strong>
  {% endfor %}
  <hr/>
  
  {% endfor %}


  {% if products.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
      <li class='page-item'><a class='page-link' href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class='page-item'><span class='current'>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class='page-item active'><span class='step-links'>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class='page-item active'><a class='page-link' href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li class='page-item'><a class='page-link' href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class='page-item'><span class='step-links'>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>

{% endblock %}