{% extends "base.html" %}


{% block content %}



 <br/>

 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h2> Your Order {{ object.order_id }}</h2>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
<p>Items:  {% for item in object.cart.cartitem_set.all %} </p>{{ item.product|capfirst }} 
<p> <div class="card" style="width: 18rem">
{% if item.product.image %}
<img src='{{ item.product.image.url }}' class='img-fluid' />
    {% endif %}
    </div>
    <a href="{% url 'product-refund' item.id item.product.slug %}"> <button class='btn btn-primary'>Request Refund!</button></a></p>
    <a href="{% url 'review' item.product.slug %}"> <button class='btn btn-primary'>Rate the product!</button></a></p>
{% endfor %}     

<p>Shipping Address: {{ object.shipping_address.get_address }}</p>
<p>Billing Address: {{ object.billing_address.get_address }}</p>
<p>Your Email: {{ object.billing_profile }}</p>
<p>Order Status: {{ object.get_status }}</p>
{% include 'orders/order_snippet.html' %}

<a href="{% url 'pdf' object.order_id %}"> <button class='btn btn-primary'>Print Invoice!</button></a>
</div>
</div>

{% endblock %}