{% extends "supplier_base.html" %}


{% block content %}



 <br/>

 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h1>Order {{ object.order_id }}</h1>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
        <div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your order details</span>
    
    </h4>
    <ul class="list-group mb-3 z-depth-1">
     {% for item in object.cart.cartitem_set.all %}
     {% if item.product.user == request.user %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h6 class="my-0">{{ item.quantity }} x {{ item.product.product_name}}</h6>
        <small class="text-muted">{{ item.product.description}}</small>
        </div>
        <span class="text-muted">${{ item.line_total }}</span>
    </li>
    {% endif %}
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Shipping Address</h6>
        <small>{{ object.shipping_address.get_address }}</small>
        </div>
    </li>
   <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
        <h6 class="my-0">Billing Address</h6>
        <small>{{ object.billing_address.get_address }}</small>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="text-danger">
        <h6 class="my-0">Customer's Email</h6>
        <small>{{ object.billing_profile }}</small>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="text-danger">
        <h6 class="my-0">Order's Status</h6>
        <small>{{ object.get_status }}</small>
        </div>
    </li>
    </ul>
    </div>
<a href="/supplierreviews/"> <button class='btn btn-primary'>Rate your customer!</button></a>
<a href="{% url 'supplierpdf' object.order_id %}"> <button class='btn btn-primary'>Print Invoice!</button></a>
</div>
</div>


    
{% endblock %}