{% extends "supplier_base.html" %}

{% block content %}
<div class='container-fluid' style='background-color: #f7f7f7 ;'>

<div class='row'>
    <div class='col-12'>
        <h2 class='text-center'>Orders</h2>
    </div>
</div>
<div class='container' style='background-color: black;'>
  <div class='row'>
    {% if application_orders %}
    <div class='col-md-3 col-sm-3  text-center' style='background-color: white;'>
      {% else %}
    <div class='col-md-3 col-sm-3 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:ordersapplication' %}">Applications</a> </strong>
</div>
 
    {% if paid_orders %}
    <div class='col-md-3 col-sm-3  text-center' style='background-color: white;'>
      {% else %}
    <div class='col-md-3 col-sm-3 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:orders' %}">Paid orders</a> </strong>
</div>
{% if shipped_orders %}
    <div class='col-md-2 col-sm-2 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-md-2 col-sm-2 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:shippedsupplierorders' %}">Shipped orders</a>  </strong>
</div>
{% if refunded_orders %}
    <div class='col-md-2 col-sm-2 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-md-2 col-sm-2 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:refundedsupplierorders' %}">Refunded orders</a>  </strong>
</div>
{% if returned_orders %}
    <div class='col-md-3 col-sm-3 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-md-3 col-sm-3 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:returnedsupplierorders' %}">Return back orders after timeperiod</a> </strong>
</div>
  {% if cancelled_orders %}
    <div class='col-md-2 col-sm-2 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-md-2 col-sm-2 text-center'>
      {% endif %}
      
<strong><a href="{% url 'orders:cancelsupplierorders' %}">Cancelled orders</a> </strong>
</div>

</div>
</div>




 
<!-- <div class='row'>
    <div class='col'>
        <table class='table table-dark'>
            <thead><th>#</th><th>Product_name</th><th>Order_id</th><th>Date</th><th>View</th></thead>

            <tbody>
                {% for object in products %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>{% for item in object.cart.cartitem_set.all %} 
                
                           {% if item.product.user == request.user %}  {{ item.quantity }} X {{ item.product|capfirst }}   {% endif %}{% endfor %}</td>
                        
                        <td>{{ object.order_id }}</td>
                      
                        <td>{{ object.timestamp }}</td>
                        <td><a class='btn btn-lg  btn-primary' href='{{ object.get_absolute_url1 }}'>View your Order</a></td> -->
                            
                         <!-- <td>{{ object.cart.products.size.all }}</td>  -->
                        
                    <!-- </tr>
                {% empty %}
                <tr><td colspan="3"><p class='lead'>No orders yet.</td></tr>
                
                    {% endfor %}
            </tbody>

        </table>
    </div>
</div> -->


 {% for object in products %}
     {% if object.product.user == request.user %}
   {% for item in object.cart.order_set.all %}
 <div class='container' style='background-color:rgb(182, 182, 182);'>
  <div class='row'>
    <div class='col-md-1 col-sm-1'>
      <b> Id. {{ object.id }}</b>
    </div>
    <div class='col-md-4 col-sm-4'>
    <b>Order Id -:  {{ item.order_id }} </b> <br/>
    <b>Customer's email -: {{ item.billing_profile }}</b>
    </div>
    <div class='col-md-3 col-sm-3'>
    <b>Order Placed -: {{ item.timestamp }} </b>
    </div>
    <div class='col-md-4 col-sm-4'>
      <b><a href='{% url "orders:supplierorderdetail" object.id %}'>Order details</a> </b> |
      <b>  <a href="{% url 'supplierpdf' object.id item.order_id %}"> View Invoice</a>
      </b>

    </div>
  </div>
  </div>
   
  
  {% endfor %}

<div class="container"  style="background-color: #263238; color: white;">
  <br/>
  <div class='text-right'>
<strong> <font color='green'> Status -:  {% if object.refund_granted %} Refund granted {% elif object.cancel_granted %} Cancellation request accepted, Please check your notifications. {% else %} {{ object.status }} {% endif %}  </font> </strong>
<h6> (from {{ object.updated }})</h6>
  </div>
  {{ forloop.counter }}.
  {% if object.product.image %}
  <img src="{{ object.product.image.url }}" class="card-img-top" style="height:100px;width:100px" alt="{{ object.product.title }} logo">
  
  {% endif %}
  <div class="card-body">
                    
    <h5 class="card-title"><a href='{{ object.product.get_absolute_url }}'> {{ object.quantity }} X {{ object.product|capfirst }} </a></h5>
     <h6 class="card-title"> {% if object.product.discount_price %}
            <strike> ${{ object.product.cost_per_day }}</strike> ${{ object.product.discount_price }}/day ({{ object.product.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ object.product.cost_per_day }}/day
           {% endif %}
           </h6>
    <p class="card-text">{{ object.product.description|linebreaks|truncatewords:14 }}</p>
    <h6> Cost -: ${{ object.line_total }}</h6>
    <h6> Rental Period -: {{ object.start_date }} - {{ object.end_date }}( {{ object.days }} days )</h6>
   
    
  
  </div>
</div>

 
 
  <hr/>
    {% endif %}
     {% empty %}
  <strong><p class='lead'>No orders yet.</p> </strong>
  {% endfor %}





{% if products.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
      <li class='page-item'><a class='page-link' href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class='page-item'><span class='current'>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class='page-item active'><span class='step-links'>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class='page-item active'><a class='page-link' href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li class='page-item'><a class='page-link' href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class='page-item'><span class='step-links'>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>

{% endblock %}