{% extends "supplier_base.html" %}

{% block content %}
<div class='container'>

<div class='row'>
    <div class='col-12'>
        <h2 class='text-center'>Orders</h2>
    </div>
</div>
<div class='container' style='background-color: black;'>
  <div class='row'>
    {% if paid_orders %}
    <div class='col-3 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-3 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:orders' %}">Paid orders</a> </strong>
</div>
{% if shipped_orders %}
    <div class='col-2 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-2 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:shippedsupplierorders' %}">Shipped orders</a>  </strong>
</div>
{% if refund_orders %}
    <div class='col-2 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-2 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:refundedsupplierorders' %}">Refunded orders</a>  </strong>
</div>
{% if returned_orders %}
    <div class='col-3 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-3 text-center'>
      {% endif %}
<strong><a href="{% url 'orders:returnedsupplierorders' %}">Return back orders after timeperiod</a> </strong>
</div>
  {% if cancelled_orders %}
    <div class='col-2 text-center' style='background-color: white;'>
      {% else %}
    <div class='col-2 text-center'>
      {% endif %}
      
<strong><a href="{% url 'orders:cancelsupplierorders' %}">Cancelled orders</a> </strong>
</div>

</div>
</div>




 
<div class='row'>
    <div class='col'>
        <table class='table table-dark'>
            <thead><th>#</th><th>Product_name</th><th>Order_id</th><th> status</th><th>Date</th><th>View</th></thead>

            <tbody>
                {% for object in products %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>{% for item in object.cart.cartitem_set.all %} 
                
                           {% if item.product.user == request.user %}  {{ item.quantity }} X {{ item.product|capfirst }}   {% endif %}{% endfor %}</td>
                        
                        <td>{{ object.order_id }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.timestamp }}</td>
                        <td><a class='btn btn-lg  btn-primary' href='{{ object.get_absolute_url1 }}'>View your Order</a></td>
                            
                         <!-- <td>{{ object.cart.products.size.all }}</td>  -->
                        
                    </tr>
                {% empty %}
                <tr><td colspan="3"><p class='lead'>No orders yet.</td></tr>
                
                    {% endfor %}
            </tbody>

        </table>
    </div>
</div>




{% if products.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
      <li class='page-item'><a class='page-link' href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class='page-item'><span class='current'>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class='page-item active'><span class='step-links'>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class='page-item active'><a class='page-link' href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li class='page-item'><a class='page-link' href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class='page-item'><span class='step-links'>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>

{% endblock %}