{% extends "base.html" %}
{% block content %}

Welcome {{ request.user.full_name }}!
</br>
<div class='container' style='background-color: white; color: white;'>
<div class='row'>
    <div class='col-12' style="background-color: #263238; color:white;">
        <h2 class='text-center'>Account</h2>
        <hr/>
    </div>


<div class='col-12 col-md-4 my-3'>
<div class="card" style="background-color: #263238;">
  <div class="card-body">
    <h5 class="card-title text-center">History</h5>
        <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "account:user-product-history" %}'>Products </a>
    
  </div>
</div>
</div>


<div class='col-12 col-md-4 my-3'>
<div class="card" style="background-color: #263238;">
  <div class="card-body">
    <h5 class="card-title text-center">Add new card</h5>
        <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "billing-payment-method" %}'>Payment Methods </a>
    
  </div>
</div>
</div>



<div class='col-12 col-md-4 my-3'>
<div class="card" style="background-color: #263238;">
  <div class="card-body">
    <h5 class="card-title text-center">Support</h5>
      <div class='list-group'>
          <a class='list-group-item' style="background-color: #263238; color:white" href='{% url "about" %}'>About </a>
          <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "contact" %}'>Contact </a>
      </div>
      
    
  </div>
</div>
</div>

<div class='col-12 col-md-4 my-3'>
<div class="card" style="background-color: #263238;">
  <div class="card-body">
    <h5 class="card-title text-center">Personal Info</h5>
        <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "account:user-update" %}'>Update details </a>
          <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "password_change" %}'> ChangePassword </a>
    
  </div>
</div>
</div>

<div class='col-12 col-md-4 my-3'>
<div class="card" style="background-color: #263238;">
  <div class="card-body">
    <h5 class="card-title text-center">Billing</h5>
     <div class='list-group'>
          <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "orders:list" %}'>My Orders(paid) </a>
          <a class='list-group-item' style="background-color: #263238; color: white;" href='{% url "orders:created" %}'>My created(unpaid) Orders </a>
         
            <!-- <a class='list-group-item' href='#'>Addresses </a> -->
      </div>
    
  </div>
</div>
</div>

















</div>
</div>
{% endblock %}