{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if not request.user.is_authenticated %}
</br>
<style>
    .c{
        background-color: #263238;
        color: white

    }
</style>

<div class='container c' >
    <h3 class="text-center"> E-renta Login | <a href="{% url 'register' %}">Signup </a> </h3>
   
    <br/>
    <div class='row'>
    <div class="col-lg-4"> </div>
    <div class='col-lg-4'>
<form  method='POST'>{% csrf_token %}
    
{{ form|crispy }} 
 <a href="{% url 'password_reset' %}" >Forget password?</a>
<div class="text-center">
   
<button type='submit' class='btn btn-success'> login </button>

</div>
</form>
<br/>
</div>
</div>

</div>
{% else %}
<div class='text-center'>
    <br/>
<h5> Already login.</h5>

<p>If you want to login with different account then first logout by<a href="{% url 'logout' %}">Click here.</a> </p>
<br/>
</div>
{% endif %}
{% endblock %}