{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
</br>
<style>
    .c{
        background-color: #263238;
        color: white

    }
</style>
<div class='container c' >
    <h3 class="text-center"> E-renta Login </h3>
   
    <br/>
    <div class='row'>
    <div class="col-lg-4"> </div>
    <div class='col-lg-4'>
<form  method='POST'>{% csrf_token %}
    
{{ form|crispy }} 
 <a href="{% url 'password_reset' %}" >Forget password?</a>
<div class="text-center">
   
<button type='submit' class='btn btn-success'> login </button>

</div>
</form>
<br/>
</div>
</div>

</div>
{% endblock %}