{% extends "supplier_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
</br>

<div class='container'>
     <h2>Enter your business details</h2>
</br>
<form method='POST'>{% csrf_token %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
     {{ form|crispy }}<br/>
     <label for='email'>Email</label>
     <input type='text' class='form-control disabled' value='{{ request.user.email }}' disabled="disabled" /> <br/>
             
<button type='submit' class='btn btn-success'>Submit</button>
</form>
</div>
{% endblock %}