{% extends "supplier_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class='container'>
    <div class='text-left'>
        <h5>Step 1 of 2</h5>
    </div>
    <div class="col-12 col-md-6 mx-auto">
    <h2 class='my-3 text-center'>Personal details</h2>
<form  method='POST' action='{% if action_url %} {{ action_url }}{% endif %}'>
     {% csrf_token %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
    

     {{ form|crispy }}<br/>
     
    <div class='text-center'>
<button type='submit' class='btn btn-success'> Continue </button>
    </div>
</form>
</div>
</div>
{% endblock %}