{% extends "supplier_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">

<div class='col'>
  <title>{{ title }}</title>
  <div class='container'>
              <div class='row mb-3'>
        
           {% if query %}
            <div class='col-12 mb-3'>
                Results for <b>{{ query }}</b>
                <hr/>
            </div>
            
            {% else %}
              
           <!-- <div class='col-12 col-md-6 mx-auto py-5'>
              {% include 'search/snippets/search-form.html' %}
            
            </div> -->
            <div class='col-12'>
                <hr> 
            </div>
           {% endif %}
    </div>
         <div class='row wow fadeIn'>
            

         {% for obj in qs %}
           <div class="col-lg-4 col-md-4 col-sm-4 mb-4" style="display: flex;
          flex-wrap: wrap; flex-grow: 1;
        flex-basis: 100px; flex-shrink: inherit;

        justify-content: space-between;flex: calc(30% - 5em);" >
   
   
          
          {% include 'products/snippets/product_card.html' with instance=obj %}
          {% if forloop.counter|divisibleby:3 %}
                   </div> </div> <div class='row'> <div class='col-12'> <hr/> </div> 
          {% else %}
           </div>
          {% endif %}
          {% empty %}
          <p class='col-md-6'>Sorry!! No Products related to your query.</p>
          
     {% endfor %}

       </div>
     </div>


</div>
</div>
</div>


     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'js/vertical-nav.js' %}"></script>
{% endblock %}