{% extends "base.html" %}

{% block content %}
  <title>{{ title }}</title>
  <div class='container'>
              <div class='row mb-3'>
        
           {% if query %}
            <div class='col-12 mb-3'>
                Results for <b>{{ query }}</b>
                <hr/>
            </div>
            
          
           
           {% endif %}
    </div>
  </div>
        

   <div class="container" style="background-color: white;">
  <br/>
   <!-- <section class="text-center"> -->

    <div class="row">

          <!--Grid column-->
           {% for obj in qs %}
          <div class="col-lg-4 col-md-4 col-sm-6 mb-4" style="display: flex;
        flex-wrap: wrap; flex-grow: 1;
        flex-basis: 100px; flex-shrink: inherit;

        justify-content: space-between;flex: calc(30% - 5em);" >
   
   
    
                  {% include 'products/snippets/card.html' with instance=obj %}
                 
                  </div>
            {% empty %}
            <div class='text-center'>
           <h4>Sorry!! no products are matching to your query. </h4>
           </div>
          
           {% endfor %}
         
     </div>
     </div>
     </div>
{% endblock %}