{% extends "supplier_base.html" %}

{% block javascript %}
<script>
    $(document).ready(function(){
        function renderChart(id,data,labels){
            //var ctx = document.getElementById('myChart').getContext('2d');
            var ctx = $('#' + id)
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Sales',
                            data: data,
                            backgroundColor: 'rgba(75, 199, 132, 0.3)',
                            borderColor: 'rgba(75, 199, 132, 1)',
                           
                    
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                    
                    }
                });


        }
        function getSalesData(id,type){
             var url = '/supplier/sales/data/'
             var method = 'GET'
             var data = {"type":type}
              $.ajax({
                url:url,
                method:method,
                data:data,
                success: function(responseData){
                   renderChart(id , responseData.data, responseData.labels)
                }, error: function(error){
                    $.alert("An alert occured")
                }
        })

        }
        // getSalesData('thisWeekSales','week')
        // getSalesData('fourWeekSales','4weeks')
        var chartsToRender = $('.erenta-render-chart1')
        $.each(chartsToRender, function(index,html){
             var $this = $(this)
             if ($this.attr('id') && $this.attr('data-type')){
             getSalesData($this.attr('id'),$this.attr('data-type'))
             }

        })
       
        })

</script>
{% endblock %}

{% block content %}
<div class='container'>
<div class='row my-5'>
    <div class='col-12'>
        <h1>Sales Data</h1>
    </div>
</div>

 <hr/>
<div class='row my-5'>
      <div class='col-4'>
          <h3>Today's Sales</h3>
      <hr/>
        <p>Recent Total: ${{ today.recent_cart_data.cart__cartitem__line_total__sum }}</p>
        <ol>
        {% for order in today.recent.distinct %}
         <li class='my-3'>Order #{{ order.order_id }}
         
          {% for item in order.cart.cartitem_set.all %}
          {% if item.product.user == request.user %}
          {{ item.product.product_name }}
          ${{ item.line_total }}
          {% if not forloop.last %} , {% endif %}
          {% endif %}
          {% endfor %}
          {{ order.updated|timesince }}ago</li>
       {% endfor %}
       </ol>
    
          <h3>This Week's Sales</h3>
       <hr/>
        <p>Recent Total: ${{ this_week.recent_cart_data.cart__cartitem__line_total__sum }}</p>
        <ol>
        {% for order in this_week.recent.distinct %}
         <li class='my-3'>Order #{{ order.order_id }}
           {% for item in order.cart.cartitem_set.all %}
          {% if item.product.user == request.user %}
          {{ item.product.product_name }}
          ${{ item.line_total }}
          {% if not forloop.last %} , {% endif %}
          {% endif %}
          {% endfor %}
          {{ order.updated }}</li>
       {% endfor %}
       </ol>
    </div>

     <div class='col'>
        <canvas class='erenta-render-chart1' id="thisWeekSales" data-type='week' width="400" height="400"></canvas>
    </div>

</div>


<hr/>


<div class='row my-5'>
      <div class='col-12'>
          <h1>Previous 4 Week's Sales</h1>
      </div>
    <div class='col'>
        <p>Recent Orders Total: ${{ last_four_weeks.recent_cart_data.cart__cartitem__line_total__sum }}</p>
         <p>Shipped Orders Total: {% if last_four_weeks.shipped_cart_data.cart__cartitem__line_total__sum %}
             ${{ last_four_weeks.shipped_cart_data.cart__cartitem__line_total__sum }}
                                  {% endif %}
            </p>
            <p>Paid Orders Total: 
             ${{ last_four_weeks.paid_cart_data.cart__cartitem__line_total__sum }}
             </p>
       
    </div>

     <div class='col'>
        <canvas class='erenta-render-chart1' id="fourWeekSales" data-type='4weeks' width="400" height="400"></canvas>
    </div>

</div>

</div>


{% endblock %}