{% load staticfiles %}
<!-- <div class="card" style="width: 18rem">
   {% if instance.product.image %}
  <a href="{{ instance.product.get_absolute_url }}" ><img src="{{ instance.product.image.url }}" class="card-img-top" alt="{{ instance.product.title }} logo">
  </a>
  {% else %}
  <img class='image-responsive' src='{% static "img/placeholder.png" %}'/>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-title"> {{ instance.product.product_name|capfirst }}</h5>
    <h6 class="card-title"> {% if instance.product.discount_price %}
            <strike> ${{ instance.product.cost_per_day }}</strike> ${{ instance.product.discount_price }}/day ({{ instance.product.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ instance.product.cost_per_day }}/day
           {% endif %}
           </h6>
    <p class="card-text">{{ instance.product.description|linebreaks|truncatewords:14 }}</p>
    <a href="{{ instance.product.get_absolute_url }}" class="btn btn-primary">View! </a>
    
    
    
  </div>
</div> -->


        <!--Grid row-->
        

            <!--Card-->
            <style>
              @media screen and (max-width: 992px) {
                #car {
                  width: 15rem;
                }
              }
               @media only screen and (min-width: 1200px) {
                #car {
                  width: 15rem ;
              }
              }


              /* On screens that are 600px or less, set the background color to olive */
              @media screen and (max-width: 600px) {
                #car {
                  width: 8.35rem;
  }
}
        .checked {
          color: orange;
        }
    
            </style>
            <div id=car class="card">

              <!--Card image-->
              <div class="view overlay">
                 {% if instance.product.image %}
                 <a href="{{ instance.product.get_absolute_url }}" target="_blank"><img src="{{ instance.product.image.url }}" class="card-img-top" style='height:15rem' alt="{{ instance.product.title }} logo">
                   </a>
                  {% else %}
                  <img class='card-img-top' src='{% static "img/placeholder.png" %}'/>
                  {% endif %}
               
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
        
         {% if instance.product.rating >= 1 %}
              ({{ instance.product.rating }})
              {% endif %}
                {% if instance.product.rating >= 1 and instance.product.rating < 2 %}
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            {% endif %}

            {% if instance.product.rating >= 2 and instance.product.rating < 3 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if instance.product.rating >= 3 and instance.product.rating < 4 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if instance.product.rating >= 4 and instance.product.rating < 4.5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if  instance.product.rating >= 4.5 and instance.product.rating <= 5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        {% endif %}                  
                 <h6 class="card-title text-grey"> {{ instance.product.category|capfirst }}, {{ instance.product.brand }}</h6>
              
                <h5>
                  <strong>
                    <a href="{{ instance.product.get_absolute_url }}" target="_blank"><div class="text-grey">{{ instance.product.product_name|capfirst }}</div></a>
                      <span class="badge badge-pill badge-primary">Trending</span>
                   {% if 'days' in instance.product.updated|timesince or 'minutes' in instance.product.updated|timesince or 'hours' in 'instance.product.updated|timesince' %}
                     
                      <span class="badge badge-pill badge-danger">NEW</span>
                    
                      {% endif %}
                    
                  </strong>
                </h5>

                <h6 class="font-weight-bold blue-text">
                <strong>  {% if instance.product.discount_price %}
            <strike> ${{ instance.product.cost_per_day }}</strike> ${{ instance.product.discount_price }}/day ({{ instance.product.get_amount_percent_saved }}% Off)
           {% else %}
           ${{ instance.product.cost_per_day }}/day
           {% endif %}
           
           </strong>
                </h6>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          
     