{% block content %}
<div class="container" style="background-color:white">

   <!-- <section class="text-center"> -->

    <div class="row wow fadeIn">

          <!--Grid column-->
           {% for object in trending %}
          <div class="col-lg-4 col-md-8 col-sm-4 mb-6">
   
    
                    
                  {{ forloop.counter }}.
                  {% include 'analytics/trending_card.html' with instance=object %}
    </div>
          
          
     {% endfor %}

</div>
<!-- </section> -->
<br/>
 <div class="wrapper">
  <a href="{% url 'products:list' %}" ><button type="button" class="btn btn-primary btn-lg">See More </button></a>
 </div>

</div>

{% endblock %}