/* body{
    color:blue;
}
.img-shop{
    height: auto;
    max-width: 100%;
    display:block;
    margin: 0 auto;
}
.carousel-item{
     height:202px !important;
}
.abc{
    width: 100%;
    height: 400px;
    background-size:cover; 
} */