{% extends "base.html" %}

{% block content %}
</br>
</br>
</br>
<title>{{ title }}</title>
<div class='container'>
    <div class='row'>
        <div class='col-12 col-md-6'>
           <h1>{{ object.product_name }}</h1> 
           {{ object.timestamp|timesince }} ago
           <h3>{{ "title here"|title }}</h3>
           <h6> Cost per day-: ${{ object.cost_per_day }}</h6>
            {{ object.description|linebreaks }}<br/>
             {% if object.image %}
            <img src='{{ object.image.url }}' class='img-fluid' />
             {% endif %}       

        </div>
        <div class='col-12 col-md-6'>
           
            
 {% include 'products/snippets/update_cart.html' with product=object cart=cart %}
 
        </br> 

     <h6>Quantity</h6>
             
         <div class="col-sm-4 ">
        <input type="text" value="1" name='quantity' class="form-control" id="name3"> 
       </div>
</br>
    <div class="form-group" name='size'>
  <label for="sel1">Select size:</label>
  <select class="form-control" name='size' id="sel1">
    <option>None</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
  </select>
</div> 
      
</br>
<h6>Number of Days you want it?</h6>
 <div class="col-sm-4 ">
        <input type="text" value="1" name='days' class="form-control" id="name3"> 
       </div>
 
 </br>
</br>



</div>
 </div>
{% endblock %}

