{% extends "base.html" %}


{% block content %}
{% url 'products:query_3' as catogary_list_url_2 %}
{% url 'products:query' as catogary_list_url_1 %}
{% url 'products:query_1' as catogary_list_url %}
{% url 'products:query_4' as catogary_list_url_3 %}
  <title>{{ title }}</title>
     <div class='container'>
      <a href="{{ catogary_list_url }}" > <button type="button" class="btn btn-dark btn-sm">Books/Novels</button></a>
       <a href="{{ catogary_list_url_1 }}" ><button type="button" class="btn btn-dark btn-sm">Clothing</button></a>
       <a href="{{ catogary_list_url_2 }}" ><button type="button" class="btn btn-dark btn-sm">Instruments</button></a>
       <a href="{{ catogary_list_url_3 }}" ><button type="button" class="btn btn-dark btn-sm">Accessories</button></a>
         <div class='row'>
             
         {% for obj in qs %}
         <div class='col'>
          {{ forloop.counter }}
          {% include 'products/snippets/card.html' with instance=obj %}
          {% if forloop.counter|divisibleby:3 %}
                   </div> </div> <div class='row'> <div class='col-12'> <hr/> </div> 
          {% else %}
           </div>
          {% endif %}
          
     {% endfor %}

       </div>
     </div>
{% endblock %}