{% if address_form.errors %}
{% for field in address_form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.label }}</strong><span>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in address_form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}


<div class='container'>
     <br/>

<form  method='POST' action='{% if action_url %} {{ action_url }} {% else %}{% url "login" %}{% endif %}'>
     {% csrf_token %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
     
    {% if address_type %}
   <input type='hidden' name='address_type' value='{{ address_type }}' />
    
     {% endif %}

     
          
            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">お名前</p>
                  <p class="border border-success rounded px-1 ml-0" style="background-color: #1daf9e; text-align: left; color: #ffffff;">required</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1">
                    <input type="text" class="form-control" name='state' required='true' id="name1" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="姓">
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">郵便番号</p>
                  <p class="border border-success rounded px-1 ml-0" style="background-color: #1daf9e; text-align: left; color: #ffffff;">required</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1">
                    <input type="text" class="form-control" required='true' name='postal_code' id="postalcode" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="例）1410022">
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">都道府県</p>
                  <p class="border border-success rounded px-1 ml-0" style="background-color: #1daf9e; text-align: left; color: #ffffff;">required</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1">
                    <input type="text" class="form-control" required='true' name='city' id="perfecture" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="東京都">
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">住所1</p>
                  <p class="border border-success rounded px-1 ml-0" style="background-color: #1daf9e; text-align: left; color: #ffffff;">required</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1 w-100">
                    <input type="text" class="form-control" required='true' name='address_line_1' id="add1" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="品川区東五反田1-11-15">
                  </div>
                </div>
              </div>
            </div>

            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">Country</p>
                  <p class="border border-success rounded px-1 ml-0" style="background-color: #1daf9e; text-align: left; color: #ffffff;">required</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1">
                    <input type="text" class="form-control" name='country' required='true' id="postalcode" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="Japan">
                  </div>
                </div>
              </div>
            </div>

            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">住所2（ビル名など）</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1 w-100">
                    <input type="text" class="form-control" required='true' name='address_line_2' id="address_line_2" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="電波ビル4階">
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-1">
              <div class="col">
                <div class="row">
                  <p class="px-3">電話番号</p>
                  <p class="border border-success rounded px-1 ml-0" style="background-color: #1daf9e; text-align: left; color: #ffffff;">required</p>
                </div>
              </div>
              <div class="col-xs-12 col-md-7">
                <div class="d-flex flex-row">
                  <div class="px-1">
                    <input type="text" class="form-control" required='true' name='mobile_number' id="ph1" style="border-radius: 4px; border-color: #f6fcfb;
                                                                              background-color: #f6fcfb;" placeholder="XXXXXXXXX">
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row justify-content-center mt-3 pt-3">
              <button type="submit" style="color: #ffffff; border-radius: 4px; border-color: #1daf9e;background-color: #1daf9e; border-style: none;">Save</button>
            </div>
         
      
</form>
</div>
</div>
</div>
</div>
<br/>
</div>