<style>
  
input[type=search] {
  width: 130px;
  box-sizing: border-box !important;
  border: 2px solid #ccc !important;
  border-radius: 4px  !important;
  font-size: 16px  !important;
  background-color: white  !important;
  background-position: 10px 10px  !important;
  background-repeat: no-repeat !important;
  -webkit-transition: width 0.5s ease-in-out  !important;
  transition: width 0.5s ease-in-out  !important;
}

input[type=search]:focus {
  width: 80%  !important;

}
.button1{
  max-width: 8%;
  
}
@media screen and (max-width: 600px) {
                .button1 {
                 max-width: 15% !important;
                }
                 .ww {
                   width: 50% !important;
                 }
                 
  
} 
</style>

            <form method='GET' action='{% url "search:query" %}' class="form-inline search-form" >
               
                  <input class=" form-control ww" type="search" placeholder="Search" name='q' aria-label="Search" value='{{ request.GET.q }}'>
                  <button class="button1 btn btn-outline-success" type="submit"><i class="fa fa-search text-center"></i></button>
               
                </form>
  
  
  