<div class="col-md-4 col-sm-6 col-6 text-right p-2">
            <form method='GET' action='{% url "search:supplierquery" %}' class="form-inline my-2 my-lg-0" >
               
                  <input class="w-75 h-25 p-2.8 form-control" type="search" placeholder="Search" name='q' aria-label="Search" value='{{ request.GET.q }}'>
                  <button class="h-25 p-2.8 btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
               
                </form>
  
  </div>