{% load static %}

<div class='container'>
 <div class='row'>
  <div class='card-columns'>
  <div class="card" style="width:300px">
 <a href="{% url 'catogary:query' 'booksnovels' %}" ><img class="card-img-top" src="{% static 'img/b.jpg' %}"  alt="Card image"  ></a>
  <div class="card-body" >
    <h4 class="card-title">Books/novels corner</h4>
    <p>Want to read latest and famous Novels</p>
   </div>
   </div>
   
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  
  <div class="card" style="width:300px">
  <a href="{% url 'catogary:query' 'men' %}" ><img class="card-img-top" src="{% static 'img/a.jpg' %}" alt="Card image"></a>
  <div class="card-body">
       <h4 class="card-title">Clothing</h4>
    <p class="card-text">Latest releases </p>
  </div>
  </div>
  

  <div class="card" style="width:300px">
   <a href="{% url 'catogary:query' 'electronics' %}" ><img class="card-img-top" src="{% static 'img/c.jpg' %}" alt="Card image"></a>
  <div class="card-body">
    <h4 class="card-title">Musical Instruments</h4>
    <p class="card-text">Want to try Learn musical Instruments? </p>
    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
  </div>
  </div>
</div>
</div>

</div>