{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% url 'account:home' as account_url %}
<title> Home Page!</title>
{% block base_head %}
     <link rel='stylesheet' href='{% static "css/test.css" %}' />
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class='col' style="background-color: white;">
   {{ premium_content }} {{ user.full_name }}!
  <!-- <a href='{% url "account:user-update" %}'>
    <img src="{% static 'img/a.jpg' %}" width=50px height="50px" style="float: right;"  class="rounded-circle" alt="...."> </a> -->
   
</div>
{% else %}
{% trans "For better experience please Login." %}
{% endif %}
   
    	<!--first slider -->
    <style>
      @media screen and (max-width: 600px) {
                .carr1 {
                 height: 20% !important;
  }
} 
    </style>

    		<div class="site-slider">
    			<div class="slider-one carr1">
            {% for crousel_image in crousel_images %}
            <div>
    					<img src='{{ crousel_image.image.url }}' class="img-fluid carr1" alt="Banner 1" />
    				</div>
            {% endfor %}
    				<div>
    					<img src="{% static 'img/b.jpg' %}" class="img-fluid carr1" alt="Banner 1" />
    				</div>
    				<div>
    					<img src="{% static 'img/furniture.jpg' %}" class="img-fluid carr1" alt="Banner 2" />
    				</div>
    				<div>
    					<img src="{% static 'img/clothing.jpg' %}" class="img-fluid carr1" alt="Banner 3" />
    				</div>
    			</div>

    			<div class="slider-btn">
    				<span class="prev position-top"><i class="fas fa-chevron-left"></i> </span>
    				<span class="next position-top right-0"><i class="fas fa-chevron-right"></i> </span>
    			</div>
    		</div>
    	</div>
    	<!-- /firstslider -->
      
  <br/>
  <style>
 
  .responsive {
  position: relative !important;
  width: 100%;
  max-width: 400px;
  height: auto !important;
}
 @media only screen and (min-width: 1200px) {
                .carr {
                  padding-top: 2rem !important;
                  margin-left: 2rem; 
              }
              }
 @media screen and (max-width: 992px) {
                .carr {
                  padding-top: 4rem !important;
                }
              }

 @media screen and (max-width: 600px) {
                .carr {
                 padding-top: 3rem !important;
                 
  }
} 

  </style>
  <hr/>
      <h2 class="text-center"> {% trans "Popular Categories" %} </h2>
    	<!-- second slider -->

    	<div class="container-fluid">
    		<div class="site-slider-two">
    			<div class="row slider-two text-center">
            {% for category_image in category_images %}
            {% if category_image.image %}
            <div class="col-md-4 col-lg-4 text-center">
              <a href="{% url 'products:query1' category_image.slug %}"> <img src='{{ category_image.image.url }}' class="responsive carr" alt="Product 1"/></a>
               <b>{% trans category_image.title %}</b>
             </div>
             {% endif %}
             {% endfor %}

    				<div class="col-md-4 col-lg-4 text-center">
             <a href="{% url 'products:query1' 'playstations' %}"> <img src="{% static 'img/videogame.jpg' %}" class="responsive carr" alt="Product 1"/></a>
              <b>{% trans "Playstation" %}</b>
    				</div>
    				<div class="col-md-4 col-lg-4 text-center">
            	<a href="{% url 'products:query1' 'menaccessories' %}"> <img src="{% static 'img/accessories.jpg' %}" class="responsive carr" alt="Product 2"/></a>
               <b>{% trans "Accessories" %}</b>
    				</div>
    				<div class="col-md-4 col-lg-4 text-center">
            	<a href="{% url 'products:query' 'booksnovels' %}"> <img src="{% static 'img/books.jpg' %}" class="responsive carr" alt="Product 3"/></a>
               <b>{% trans "Books" %}</b>
    				</div>
    				<div class="col-md-4 col-lg-4 text-center">
            	<a href="{% url 'products:query1' 'menclothing' %}"> <img src="{% static 'img/clothing.jpg' %}" class="responsive carr" alt="Product 4"/></a>
               <b>{% trans "Clothing" %}</b>
    				</div>
    				<div class="col-md-4 col-lg-4 text-center">
             <a href="{% url 'products:query' 'electronics' %}"> <img src="{% static 'img/electronics.jpg' %}" class="responsive carr" alt="Product 5"/></a>
               <b>{% trans "Electronics" %}</b>
    				</div>
            
            <div class="col-md-4 col-lg-4 text-center">
             <a href="{% url 'products:query' 'furniture' %}"><img src="{% static 'img/furniture.jpg' %}" class="responsive carr" alt="Product 7"/> </a>
               <b>{% trans "Furniture" %}</b>
            </div>
            <div class="col-md-4 col-lg-4 text-center">
            	 <a href="{% url 'products:query' 'music' %}"> <img src="{% static 'img/music.jpg' %}" class="responsive carr" alt="Product 8"/></a>
               <b>{% trans "Music" %}</b>
    				</div>
    			</div>
    			<div class="slider-btn" style="color:brown">
    				<span class="prev position-top"><i class="fas fa-chevron-left fa-2x text-secondry"></i> </span>
    				<span class="next position-top right-0"><i class="fas fa-chevron-right fa-2x text-secondry"></i> </span>
    			</div>
    		</div>
      </div>
      
    	<!-- /second slider -->

                             <!-- Cards   -->
                             <br/>
                             
                             <hr/>
<h2 class='text-center'>{% trans "Top trending Products" %}</h2>
  <div class='container-fluid'>
{% include 'analytics/view-count.html' %}
     
</div>

{% endblock %}




