{% load static %}
{% url 'home' as home_url %}
<!DOCTYPE html>
<html>
<title>Erenta</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("{% static 'img/1.png' %}");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  {% if messages %}
        {% for message in messages %}
        <div class="w3-center w3-bar w3 w3-card" style=" background-color: aqua; color:black" role="alert">
          {{ message }}
          <button type="button" class="w3-close close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
  <div class="w3-bar w3 w3-card" style="background-color:#263238; color:white" id="myNavbar">
    <a href="{{ home_url }}" class="w3-bar-item w3-button w3-wide">Erenta</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <!-- <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a> -->
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> PRODUCTS</a>
      <a href="#subscribe" class="w3-bar-item w3-button"><i class="fa fa-user"></i> SUBSCRIBE</a>
      <a href="{{ home_url }}" class="w3-bar-item w3-button"><i class="fa fa-play"></i> START RENTING</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
 <!--  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a> -->
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">PRODUCTS</a>
 <a href="#subscribe" onclick="w3_close()" class="w3-bar-item w3-button">SUBSCRIBE</a>
  <a href="{{ home_url }}" onclick="w3_close()" class="w3-bar-item w3-button">START RENTING </a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-black" style="padding:48px">
    <span class="w3-jumbo w3-hide-small" style="color:red">Rent something that matters</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium" style="color:red">Rent something that matters</span><br> 
    <!-- <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span> -->
    <p><a href="{{ home_url }}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start renting now</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>

<!-- About Section -->

<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center"><b>ABOUT THE SERVICE </b></h3>
  <h4> <b>What is Erenta? </b></h4>
  <p>Erenta is trusted marketplace for renting VideoGames, Sports and adventure equipments, Accessories and Electronic items. We connect people who need things with the people who have them So it is an online peer to peer rental platform. </p>
  <h4><b> Why use Erenta as borrower?</b></h4> 
  <p> When you choose our service over buying from stores you get the following benefits -:</p>
  <ol>
  <li>Avoid unnecessry buying items which you use few times, Accept renting it takes fraction of cost and save money.</li>
  <li>Live lighter, Save the planet by reducing waste. By opting to borrow, not buy, you’re putting the brakes on unnecessary manufacturing and carbon-intensive distribution systems. It is the responsible choice.</li>
  <li>Quality and different varieties of products.</li>
  <li>Catch up with your passion,hobby and get things done. You can rent things in affordable prices, Whether you want to do photography or play with playstation or going on hiking trip or going to play or learn new outdoor sports these are few screnrios where our service comes in the role.</li>
</ol>
<h4><b> How renting works?</b></h4>
<ol>
  <li>Find What you are looking for, from category section or by search bar.</li>
  <li>Book the item for your chosen dates and let us verify you. we will just once ask some documents for proof.</li>
  <li>Arrange collection from your lender and enjoy your rental.</li>
  <li>Return the item to the lender and leave the review on our platform. we are always happy to hear your experience.</li>
</ol>
<h4> <b> Documents required? </b></h4>
<p>Every user submits ID card as part of our Smart Verification process, so that you can rent in confidence.</p>
<br/>

  <p class="w3-center w3-large"> <b>Key features of our service </b></p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Service</p>
      <p>We rent wide range of products to users and we list quality products on our platform.   </p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>We have passion for our customer satisfaction and we are trying hard to keep our community safe.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-lock w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Secure</p>
      <p>We provide fully secured flawless payment methods on our platform and we allow only approved users on our platform.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-phone w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>24x7 support for our customers, we always here for your help.</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Join with us for business.</h3>
      <p> Your items are not just meant to lie in the attic, but can be a source of some extra bucks in the pocket. Every item, new or used, has a value. you can easily list your items and start earning.</p>
      <h4><b> Why use Erenta as a lender?</b></h4> 
      <p> When you choose our service you get the following benefits -:</p>
      <ol>
      <li>You quickly make your money back on item by lending it out through Erenta.</li>
      <li>By sharing with each other that we develop meaningful relationships and create effective local communities. It built trust and social barriers fall down. </li>
      <li>By giving a quality product, reliable and convenient service with good communication the borrower will see you again.</li>
      <li>Make world a efficient place for everyone.</li>
    </ol>
    <h4><b> How lending works?</b></h4>
    <ol>
      <li>List your items for free. Upload images, product description, pricing and quantity.</li>
      <li>See the incoming requests and respond it.</li>
      <li>Arrange a convenient time to ship or exchange the item with borrower.</li>
      <li>Get paid within a week through our secured payment system and enjoy.</li>
    </ol>
      <p><a href="{% url 'join_us' %}" class="w3-button w3-black"><i class="fa fa-th"> </i> List your Item now</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="{% static 'img/shopNow.png' %}"  alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>



<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-padding-64" style="background-color:#263238; color: white">
  <div class="w3-thrice">
    <span class="w3-xxlarge">10+</span>
    <br>Partners
  </div>
  <div class="w3-thrice">
    <span class="w3-xxlarge">100+</span>
    <br>Suppliers
  </div>
  <div class="w3-thrice">
    <span class="w3-xxlarge">1000+</span>
    <br>Happy Clients
  </div>
  <!-- <div class="w3-quarter">
    <span class="w3-xxlarge">150+</span>
    <br>Meetings
  </div> -->
</div> 

<!-- Work Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
  <h3 class="w3-center">PRODUCTS </h3>
  <p class="w3-center w3-large">Products available for rent.</p>

  <div class="w3-row-padding" style="margin-top:64px">
   
    
    <div class="w3-col l3 m6">
    	<a href="{% url 'products:query1' 'menaccessories' %}"> <img src="{% static 'img/accessories.jpg' %}" style="width:100%"  class="w3-hover-opacity" alt="Accessories"></a>
	  <p>Rent Accessories </p>
    </div>
    <div class="w3-col l3 m6">
      <img src="{% static 'img/sports.jpg' %}" style="width:100%"  class="w3-hover-opacity" alt="Sports">
	  <p> Rent Sports and trekking Equipments </p>
    </div>
  

  
    <div class="w3-col l3 m6">
    <a href="{% url 'products:query1' 'playstations' %}"><img src="{% static 'img/videogame.jpg' %}" style="width:100%"  class="w3-hover-opacity" alt="Videogames"></a>
	  <p> Rent games </p>
    </div>
    
   
    <div class="w3-col l3 m6">
    <a href="{% url 'products:query' 'electronics' %}"><img src="{% static 'img/electronics.jpg' %}" style="width:100%" class="w3-hover-opacity" alt="Gadgets"></a>
	  <p> Rent electronic equipments </p>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>


<!-- subscribe -->
<div class="w3-container w3-padding-32" style="background-color:#263238; color:white" id="subscribe">
    <h1>Subscribe</h1>
    <p>To get special offers and VIP treatment and latest updates:</p>
    <form method='POST' id="2">{% csrf_token %}
    <input type="hidden" name="form_type" value="2">
    <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" required name="email" style="width:100%"></p>
    <button type="submit" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
    </form>
  </div>
<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Tokyo, Japan</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
    <br>
    <form method='POST' id="1">{% csrf_token %}
        <input type="hidden" name="form_type" value="1">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="message"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
    <!-- Image of location/map -->
  <!--   <img src="/w3images/map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px"> -->
  </div>
</div>

 
<!-- Footer -->
<footer class="w3-center w3-padding-64" style="background-color: #263238; color:white">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="http://www.pro-s.co.jp/" title="W3.CSS" target="_blank" class="w3-hover-text-green">Professa.co.Ltd</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

var closebtns = document.getElementsByClassName("close");
var i;

for (i = 0; i < closebtns.length; i++) {
  closebtns[i].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
}
</script>

</body>
</html>
