{% extends "supplier_base.html" %}
{% block content %}



<div class='container' style='background-color: white;'>
  
  <br/>

  <div class='text-center'>  <h3> Low quantity </h3> </div>
 <br/>

<list class="list-group-item list-group-item-action">Dear {{ low_quantity_notification.product.user.full_name }},  Only {{ low_quantity_notification.quantity }} {{ low_quantity_notification.product }} are left. To Update quantity <a href="{% url 'products:quantity' low_quantity_notification.product.slug %}"> click here </a>.
<div class='text-right'> <a href='{% url "notification:delete_supplier_quantity_notification" low_quantity_notification.id %}'><i class='fa fa-trash' style="color: black;"></i></a></div>
</list>
  </div>

{% endblock %}