@import url("https://kit.fontawesome.com/1343b739de.js");




:root{
	--light-grey:#2b3032a1;
	--primary-color: #263238;
	--black-color:#000000;
	--white-color: #ffffff;
	--border: #2b303218;
	--text-color: #ff686b;
	--roboto: "Roboto",sans-serif;
	--raleway:"Raleway",sans-serif;
	--sofia:"Sofia",cursive;

}

.primary-color{
	color: var(--primary-color);
	
}

.bg-primary-color{
	background-color: var(--primary-color)!important;
	
}
.opacity-0 {
  opacity:0.5!important;
}

.text-color{
	color:var(--text-color);
}
.text-grey{
	color: var(--light-grey);

}

.font-roboto{
	font-family: var(--raleway);
}

.lightblue{
	color:lightblue ;
}
/* header */
header{
	background-color: var(--primary-color);
	font-family: var(--raleway);
	opacity: 1;
	position: relative;
    z-index: 99999;
}
header .site-title{
	font-family: var(--raleway);
}
main {  margin-top: 4em; } 

.container .dropdown-toggle,
.container .dropdown-item{
	font-size: 0.7em;
}
.header-links a{
	font-size: 0.9em;
	text-decoration: none;
	color: white;
}

/* navigation bar */
.navbar {
   padding: 0px;
   top: 0;
   z-index: 10;
}

.navbar-wrapper {
   position:absolute;
}

.navbar-nav{
	padding: 0.8em 0em;
}


.navbar-nav .nav-link{
	font-size: 1em;
	color :var(--black-color)!important;

}
#ham{
	font-size: 1.2em;
	color: var(--white-color);
}
.navbar-nav .nav-item .nav-link{
	padding: 0 1.3em;
}
.navbar-nav .basket-icon{
	margin-right: 4em !important;
}

/* slider one */
.site-slider{
	position:relative;
}
.position-top{
	position: absolute;
	top:50%;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
	background-color : var(--white-color);
	padding: 1rem 1.5rem;
	border-radius: 10rem;
	color: grey;
	margin: 0 1rem;
	opacity:0;
	transition: opacity 1s ease;
}
/*.slick-slide {
   height:750px;
   width:2000px;
}*/
.img-fluid{
	width: 100%;
    height: 500px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
	overflow: hidden;
	
	white-space: nowrap;
}
/*
.slick-slide img {
   height:750px;
   width:2000px;
}*/
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
	opacity: 1;
}
.right-0{
	right:0;

}

/* slick dots */
.slick-dots{
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	position: absolute;
	bottom: 0;
	right: 50%;
}
.slick-dots li{
	margin:0 0.6rem;
}
.slick-dots button{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	padding:0;
	border:none;
	background-color: grey;
	text-indent: -9999px;
	border-radius: 100%;

}
.slick-dots li.slick-active button{
	transform: scale(2.5);
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,2.05);
}

/* second slider */
.site-slider-two{
	position: relative;
	height: 30%;
}
.site-slider-two .product{
	height:25rem;
	position:relative;
	overflow: hidden;
}
.site-slider-two .product img{
	width:90%;
	margin:auto;
	height:80%;
}

.site-btn.btn-span{
	padding:0.8rem 1.9rem;
	border-radius: 4rem;
	border:1px solid var(--border);
	background-color: white;
	color:var(--light-grey);
}
.slider-two .slick-track .product:hover span{
	background-color: var(--light-grey);
}


.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}



/* Icon 1 */
 .animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}


.animated-icon3 span {
background: #f3e5f5;
}



/* Icon 5 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}




.dropdown-submenu {
                position: relative;
            }

            .dropdown-submenu> a:after {
                content: ">";
                float: right;
            }

            .dropdown-submenu>.dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: 0px;
                margin-left: 0px;
            }

            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
			}


 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 