{% extends "supplier_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>

<h1>{{ title }}</h1>
</br>
<form method='POST' enctype="multipart/form-data">{% csrf_token %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
     <h4>Available quantity of each variations of this product.</h4>
     <h6>Note: You can update quantity in <a href="{% url 'myproduct' %}">Myproduct </a> section in dashboard, donot repeat same variation for quantity.  </h6>
     
      Variations:
     {% for obj in qs %}
         <div class='container'>
            <div class='col-12 my-3'>
        {{ forloop.counter }}.
      {{ obj.product|capfirst }}
      
       {% for item in obj.variations.all %}
       {{ item.title|capfirst }} {{ item.category|capfirst }},
       {% endfor %}
       {% if obj.quantity > 8 %}
        Available Quantity-: {{ obj.quantity }} only 
       {% else %}
       <font color="red">Available Quantity-: {{ obj.quantity }} only </font>
       {% endif %}
       </div>
       </div>
       {% empty %}
      <p class='col-12'>  You have not created any products yet.</p>
       {% endfor %}
       <hr/>


     {{ form|crispy }}
     
       Quantity-: <input class='form-control'  name='qty' type='number' value='1' />
     
      {% if object %}
         
             
             Size-:
              <select class='form-control' name='size'>
                {% for item in object %}
                {% if item.category == 'size' %}
                <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                {% endif %}
                {% endfor %}
              </select>
              
            
              
             
              Color-:
              <select class='form-control' name='color'>
                {% for item in object %}
                {% if item.category == 'color' %}
                <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                {% endif %}
                {% endfor %}
              </select>
              
            


          {% endif %} 
                
<button type='submit' class='btn btn-success'>Save</button>
</form>
</div>
{% endblock %}