{% extends "supplier_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.lg {
  background-color:#293238 !important; color:white
}
</style>
<br/>
<div class='container lg'>

<h1 class='text-center'>Add your Products</h1>
<h6>Note: Image size should be less than 1 MB.</h6>
</br>
<form method='POST' enctype="multipart/form-data">{% csrf_token %}
       {% if form.errors %}
       <h6>Sorry your image size is greater than 1 MB.please upload image less than 1 MB.</h6>
       {% endif %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
     {{ form|crispy }}
<div class='text-center'>
<button type='submit' class='btn-lg btn btn-success'>Submit</button>
</div>
<br/>
</form>
</div>
{% endblock %}