{% extends "supplier_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user == name.user %}
<br/>
{% if tags or product_images %}
 {% if alag %}
    <div class='container' style='background-color:teal; color:white'>
     Step 4 of 4:
    <h4 class='text-center'> Product's tags added till now.</h4>
     {% for obj in tags %}
     
      <div class='col text-left'>
    <strong> {{ forloop.counter }}.

       {{ obj.tag_name }}
      
      </strong>
      </div>
       {% endfor %}
    
    <hr/>
    </br>
        </div>
{% else %}
<div class='container' style='background-color:teal; color:white'>
    
    <h4 class='text-center'> Product's Images added till now.</h4>
     <div class='row'>
     {% for obj in product_images %}
   
      <div class='col-sm-6 col-md-4 col-lg-4'>
    <strong> {{ forloop.counter }}.

        <div class="card text-center" style="width: 4rem; height:4rem">
       <img class='img-thumbnail' src='{{ obj.image.url }}' />
       </div>
      
      </strong>
      </div>
      {% empty %}
      <div class='text-center'>
      <h6 class='text-center'>Not added till now.</h6>
      </div>
       {% endfor %}
    </div>
    <hr/>
    </br>
        </div>
{% endif %}
{% endif %}
<div class='container' style="background-color: #263238; color:white">
{% if alag %}
 Step 4 of 4:
<h1 class='text-center'> Add Product's Tags </h1>
{% else %}
 Step 1 of 4:
<h1 class='text-center'>Add Product's Images</h1>
<br/>
<font color='red'><h6 class='text-center'>Note 1: Image size should be less than 1 MB.</h6> </font>
<font color='yellow'><h6 class='text-center'>Note 2: You can add only max 3 images, One image at a time.</h6></font>
{% endif %}
</br>

<form method='POST' enctype="multipart/form-data">{% csrf_token %}
    {% if form.errors %}
       <h6>Sorry your image size is greater than 1 MB.please upload image less than 1 MB.</h6>
    {% endif %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
     <div class='col-12 text-center'>
     {{ form|crispy }}
     </div>
 <div class='text-center'>
<button type='submit' class='btn btn-success'>Add it</button>
 </div>
 <br/>
</form>

<div class='text-right'>
    {% if alag %}
<a href='{% url "productrentalperiods" name.id %}' ><button class='btn btn-warning'>Next page --></button></a>
    {% else %}
<a href='{% url "productvariations" name.id %}' ><button class='btn btn-warning'>Next page --></button></a>
 {% endif %}
</div>
<br/>
</div>

{% else %}
<h2 class='text-center'> Oops! Access denied.</h2>
{% endif %}
{% endblock %}