{% extends "supplier_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>
{% if alag %}
<h1> Add your Product Tags </h1>
{% else %}
<h1>Add your Product Image</h1>
<br/>
<h6>Note: Image size should be less than 1 MB.</h6>
<h6>Note: You can add only 3 images.</h6>
{% endif %}
</br>
<form method='POST' enctype="multipart/form-data">{% csrf_token %}
     {% if next_url %}
     <input type='hidden' name='next' value='{{ next_url }}' />
     {% endif %}
     {{ form|crispy }}
             
<button type='submit' class='btn btn-success'>Save</button>
</form>
</div>
{% endblock %}