{% extends "supplier_base.html" %}
{% block content %}
Welcome {{ request.user.full_name }}!
</br>
<div class='container'>
<div class='row'>
    <div class='col-12'>
        <h2 class='text-center'>Dashboard</h2>
        <hr/>
    </div>
<div class='col-12 col-md-3 my-3'>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Support</h5>
      <div class='list-group'>
          <a class='list-group-item' href='{% url "about" %}'>About </a>
          <a class='list-group-item' href='{% url "contact" %}'>Contact </a>
      </div>
      
    
  </div>
</div>
</div>


<div class='col-12 col-md-3 my-3'>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Orders and Sales</h5>
     <div class='list-group'>
          <a class='list-group-item' href='{% url "orders:orders" %}'>My Orders </a>
           <a class='list-group-item' href='{% url "supplier-sales-analytics" %}'>My Sales </a>
          
            <!-- <a class='list-group-item' href='#'>Addresses </a> -->
      </div>
    
  </div>
</div>
</div>








<div class='col-12 col-md-3 my-3'>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add New Products</h5>
        <a class='list-group-item' href='{% url "addproduct" %}'>Add new Product details </a>
    
  </div>
</div>
</div>


<div class='col-12 col-md-3 my-3'>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">My Products(want to see or update?)</h5>
        <a class='list-group-item' href='{% url "myproduct" %}'>My Products </a>
    
  </div>
</div>
</div>


<div class='col-12 col-md-3 my-3'>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Your Account Information</h5>
        <a class='list-group-item' href='{% url "account:user-update" %}'>Update Profile details </a>
        <a class='list-group-item' href='{% url "businessdetailupdate" %}'>Update Personal details. </a>
        <a class='list-group-item' href='{% url "bankdetailupdate" %}'>Update Bank details. </a>
       
    
  </div>
</div>
</div>




</div>
</div>
{% endblock %}