{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load static i18n %}

{% block javascript %}

<script>

  const date_s = "{{ rent_periods_list|safe }}";
  console.log("backDate", date_s);
  var datesStr = date_s.replace(/[&\/\\#+()$~%.'":*?<>{}\[\]\s+]/g, '');
  console.log("backDateStr", datesStr);
  const dates = datesStr.split(',');

  function DisableSpecificDates(date) {
    var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
    return [dates.indexOf(string) == -1];
  }

  $('input[type="date"]').attr('type','text');
  $(function() {
  $("#txtDate").datepicker({
    dateFormat: 'dd-mm-yy',
    // changeYear: true,
    // changeMonth:true,
    minDate: new Date(),
    maxDate: '+1Y',
    beforeShowDay: DisableSpecificDates
  });
});

$(function() {
  $("#txtDate1").datepicker({
    dateFormat: 'dd-mm-yy',
    // changeYear: true,
    // changeMonth:true,
    minDate: new Date(),
    maxDate: '+1Y',
    beforeShowDay: DisableSpecificDates
  });
});

$(function() {
$("#txtDatelg").datepicker({
  dateFormat: 'dd-mm-yy',
  // changeYear: true,
  // changeMonth:true,
  minDate: new Date(),
  maxDate: '+1Y',
  beforeShowDay: DisableSpecificDates
});
});

$(function() {
$("#txtDatelg1").datepicker({
  dateFormat: 'dd-mm-yy',
  // changeYear: true,
  // changeMonth:true,
  minDate: new Date(),
  maxDate: '+1Y',
  beforeShowDay: DisableSpecificDates
});
});

$(function(){
    var dtToday = new Date(new Date().getTime() + 2 * 24 * 60 * 60 * 1000);
    var dtToday1 = new Date(new Date().getTime() + 9 * 24 * 60 * 60 * 1000);
    var month1 =  dtToday1.getMonth()+1;
    var day1 = dtToday1.getDate();
    var year1 = dtToday1.getFullYear();
    if(month1 < 10)
        month1 = '0' + month1.toString();
    if(day1 < 10)
        day1 = '0' + day1.toString();
    var maxDate1 = year1 + '-' + month1 + '-' + day1;
    //$('#txtDate').attr('max', maxDate1);



    var month = dtToday.getMonth()+1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;
    // alert(maxDate);
    $('#txtDate').attr('min', maxDate);
    $('#txtDatelg').attr('min', maxDate);
    //$('#txtDate1').attr('min', maxDate);
    $('#txtDate1').attr('min', maxDate1);
    $('#txtDatelg1').attr('min', maxDate1);
});
</script>

<script type="text/javascript">
  function checkRentDates(id) {
    console.log("onChange", document.getElementById('txtDate1').value);
    var dS = document.getElementById('txtDate').value;
    var dE = document.getElementById('txtDate1').value;
    var parts = dS.split('-');
    var parts2 = dE.split('-');
    var dStart = new Date(parts[2], parts[1] - 1, parts[0]);
    var dEnd = new Date(parts2[2], parts2[1] - 1, parts2[0]);
    console.log("ds",dStart);
    console.log("de",dEnd);
    var td = new Date();
    var d = td.getDate();
    var m = td.getMonth() + 1;
    if (d < 10 ) {
      d = "0" + d.toString();
    }
    if (m < 10 ) {
      m = "0" + m.toString();
    }
    var y = td.getFullYear();
    var td2 = d + "-" + m + "-" + y;
    var parts3 = td2.split('-');
    var ntd = new Date(parts3[2], parts3[1] - 1, parts3[0]);
    console.log("ntd", ntd);
    for (var i = 0; i < dates.length; i++) {
      var parts_temp = dates[i].split('-');
      var tempDate = new Date(parts_temp[2], parts_temp[1] - 1, parts_temp[0]);

      if ((tempDate.getTime() > dStart.getTime() && tempDate.getTime() < dEnd.getTime()) || (tempDate.getTime() == dStart.getTime() ||
      tempDate.getTime() == dEnd.getTime()) || (dStart.getTime() < ntd.getTime() || dEnd.getTime() <ntd.getTime()) || (dEnd.getTime() < dStart.getTime())) {
        console.log(i, tempDate);
        console.log("td_gt", tempDate.getTime());
        console.log("sd_gt", dStart.getTime());
        console.log("ed_gt", dEnd.getTime());
        console.log("ntd_gt", ntd.getTime());
        alert("Select correct dates");
        document.getElementById(id).value = '';
        // document.getElementById('txtDate').value = ntd;
        break;
      }
    }
  }

  function checkRentDatesLg(id) {
    console.log("onChange", document.getElementById('txtDatelg1').value);
    var dS = document.getElementById('txtDatelg').value;
    var dE = document.getElementById('txtDatelg1').value;
    var parts = dS.split('-');
    var parts2 = dE.split('-');
    var dStart = new Date(parts[2], parts[1] - 1, parts[0]);
    var dEnd = new Date(parts2[2], parts2[1] - 1, parts2[0]);
    console.log("ds",dStart);
    console.log("de",dEnd);
    var ntd = new Date();
    var td = new Date();
    var d = td.getDate();
    var m = td.getMonth() + 1;
    if (d < 10 ) {
      d = "0" + d.toString();
    }
    if (m < 10 ) {
      m = "0" + m.toString();
    }
    var y = td.getFullYear();
    var td2 = d + "-" + m + "-" + y;
    var parts3 = td2.split('-');
    var ntd = new Date(parts3[2], parts3[1] - 1, parts3[0]);
    console.log("ntd", ntd);
    for (var i = 0; i < dates.length; i++) {
      var parts_temp = dates[i].split('-');
      var tempDate = new Date(parts_temp[2], parts_temp[1] - 1, parts_temp[0]);
      if ((tempDate.getTime() > dStart.getTime() && tempDate.getTime() < dEnd.getTime()) || (tempDate.getTime() == dStart.getTime() ||
      tempDate.getTime() == dEnd.getTime()) || (dStart.getTime() < ntd.getTime() || dEnd.getTime() <ntd.getTime()) || (dEnd.getTime() < dStart.getTime())) {
        console.log(i, tempDate);
        console.log("td_gt", tempDate.getTime());
        console.log("sd_gt", dStart.getTime());
        console.log("ed_gt", dEnd.getTime());
        console.log("ntd_gt", ntd.getTime());
        alert("Select correct dates");
        document.getElementById(id).value = '';
        // document.getElementById('txtDate').value = ntd;
        break;
      }
    }
  }
</script>




{% endblock %}

{% block content %}

<div class='container'>
</br>
<style>

             .zoom{
                padding: 10px;
                background-color:rgb(241, 241, 241);;
                transition: transform .2s; /* Animation */
                width: 200px;
                height: 200px;
                margin: 0 auto;
                          }
                .zoom:hover {
                transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
              }
              *{
                  box-sizing: border-box;
                }

                /* Position the image container (needed to position the left and right arrows) */
                .container {
                  position: relative;
                }

                /* Hide the images by default */
                .mySlides {
                  display: none;
                }

                /* Add a pointer when hovering over the thumbnail images */
                .cursor {
                  cursor: pointer;
                }

                /* Next & previous buttons */
                .prev,
                .next {
                  cursor: pointer;
                  width: auto;
                  margin-top: -50px;
                  top: 40% ;
                  padding: 10px;
                  color: white;
                  font-weight: bold;
                  font-size: 20px;
                  border-radius: 0 3px 3px 0;
                  user-select: none;
                  -webkit-user-select: none;
                }

                /* Position the "next button" to the right */
                .next {
                  right: 0;
                  border-radius: 3px 0 0 3px;
                }

                /* On hover, add a black background color with a little bit see-through */
                .prev:hover,
                .next:hover {
                  background-color: rgba(0, 0, 0, 0.8);
                }

                /* Number text (1/3 etc) */
                .numbertext {
                  color: #000000;
                  font-size: 12px;
                  padding: 8px 12px;
                  position: absolute;
                  top: 0;
                }

                /* Container for image text */
                /* .caption-container {
                  text-align: center;
                  background-color: #222;
                  padding: 2px 16px;
                  color: white;
                } */

                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }

                /* Six columns side by side */
                .column {
                  float: left;
                  width: 16.66%;
                }

                /* Add a transparency effect for thumnbail images */
                .demo {
                  opacity: 0.6;
                }

                .active,
                .demo:hover {
                  opacity: 1;
                }



              @media screen and (max-width: 992px) {
                .scrolling-wrapper {
                background-color: #f7f7f7 !important;
                overflow-x: scroll;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                }
                .scrolling-wrapper::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
                }
               .wid {
                  width: 17rem !important ;
                  height: 17rem !important;
                  }
                .wid1{
                  width: 22rem !important;
                }
                .wid2{
                  width: 19rem !important;
                }

                .margin-l{
                  margin-left: 20px !important;
                }
              .margin-l2{
                margin-left: 40px !important;
              }

              }
              @media only screen and (min-width: 992px) {
                .scrolling-wrapper {
                background-color: #f7f7f7 !important;
                overflow-x: scroll;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                }
                .scrolling-wrapper:hover {
                  scrollbar-width: auto;
                  overflow-x: scroll;
                }
                .scrolling-wrapper::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
                }
                .scrolling-wrapper:hover::-webkit-scrollbar { /* WebKit */
                width: auto;
                height: auto;
                /* background-color: #000 !important;
                color: #fff !important; */
                }
                ::-webkit-scrollbar-thumb {
                  background: #888;
                }
                .wid {
                  width: 30rem !important;
                  height: 30rem !important;
              }
              .wid1{
                width: 35rem !important;
              }
              .margin-r{
                margin-left: 10rem;
              }
              .margin-a{
                margin-left: 30rem !important;

              }

              .margin-l2{
                margin-left: 50px !important;
              }
              .wid2{
                width: 30rem !important;
              }
              .margin-l3{
              margin-right: 8rem !important;
              }
              .margin-l4{
                margin-left: 20rem !important;
              }

                  }

              /* On screens that are 600px or less, set the background color to olive */
              @media screen and (max-width: 600px) {
                .scrolling-wrapper {
                background-color: #f7f7f7 !important;
                overflow-x: scroll;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                }
                .scrolling-wrapper::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
                }
                .wid {
                  width: 17rem !important ;
                  height: 17rem !important;
                  }
                .wid1{
                  width: 21rem !important;
                }
                .wid2{
                  width: 21rem !important;
                }



                .margin-l{
                  margin-left: 2rem !important;
                    }
                .margin-l2{
                  margin-left: 30px !important;
                }
                .margin-r{
                  margin-right: 10px !important;
                }
                }
                body {
                  background-color: #f7f7f7 !important;
                }
           </style>
          <title>{{ title }}</title>

              <div class='row'>

                <div class='col-md-6 col-sm-12' >
                      <br/>
            <h2 class="text-center margin-r"> <strong>{{ object.product_name|capfirst }} </strong></h2>




              <!-- <a class="prev"  onclick="plusSlides(-1)">&#10094;</a>
              <a class="next margin-a"  onclick="plusSlides(1)">&#10095;</a> -->
            {% if images %}
              <div id="ms_div" class="">
                <!-- {% for img in images %}
                <div class="mySlides margin-l">
                  <div class="numbertext">{{ forloop.counter }} / {{ images.count }} {{ img.variations.title }}</div>
                    <img src="{{ img.image.url }}"  class="zoom wid" />
                </div>
               {% endfor %} -->
              </div>
            {% else %}
              <div class="numbertext">1 / 1</div>
                <img src="{{ object.image.url }}"  class="zoom wid" />


            {% endif %}




              <!-- Next and previous buttons -->





              <!-- Image text -->
              <!-- <div class="caption-container">
                <p id="caption"></p>
              </div> -->
              <br/>

              <!-- Thumbnail images -->
                  <div class="container" style="background: #f7f7f7 !important;">
                    <div id="thumbnail_img" class="d-flex flex-row scrolling-wrapper justify-content-between" style="background: #f7f7f7 !important;">

                    </div>
                  </div>

                  <hr/>

                  <div>
                    <h3 class="text-center">{% trans "AboutItem" %}</h3>
        
                       {{ object.description|linebreaks }}<br/>
        
                  </div>
                  <br/>
                   <div class="text-center">
                    * If you have any query for item contact to supplier.
                     {% for obj in object.user.supplier_set.all %}
                    <h3 class="text-center">Meet {{ obj.Nick_name }} </h3>
        
                      {% trans "Contact" %} -: {{ obj.Mobile_number }} <br/>
                      {% trans "ContactTiming" %} -:  {{ obj.receive_message_time }}
        
                       {% endfor %}
                  </div>

            <br/>
            <div id="form_xs" class="d-md-none mb-3" style=" background-color: lavender;">
             <form class='form' style="padding: 60px; " method='POST' action='{% url "cart:add_to_cart" object.id %}'> {% csrf_token %}

                {% trans "Quantity" %}-: <input class='form-control' name='qty' type='number' value='1' min='1' max='10' />
                {% trans "Start Date" %}-:
                 <br/>
                <i class="fas fa-calendar-week"></i>
                 <input class='form-control' type="date" name='start_date' required='true' value='{{ today_date }}' id="txtDate" onchange="checkRentDates(this.id)" />


                {% trans "End Date" %}-:
                <br/>
                <i class="fas fa-calendar-week"></i>
                <input class='form-control' type="date" name='end_date' required='true' value='' id="txtDate1" onchange="checkRentDates(this.id)" />

            {% if object.variation_set.all %}

               {% if object.variation_set.sizes %}
               {% trans "Size" %}-:
                <select class='form-control' name='size' id="sel_size">
                  <!-- {% for item in object.variation_set.sizes %}
                  <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                  {% endfor %} -->
                </select>

               {% endif %}

                {% if  object.variation_set.colors %}
                {% trans "Color" %}-:
                <select class='form-control' id="sel_color" name='color' onchange="changeColor()">
                  {% for item in object.variation_set.colors %}
                  <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                  {% endfor %}
                </select>

               {% endif %}


            {% endif %}
            <br/>
             <input class='btn btn-light btn-block' style="background-color: #263238;  ; color:white;" type='submit' value='Add to cart' />
             </form>

            <br/>
            <br/>

            <div class="container">
              <div id="div_variants" class="d-flex flex-row flex-wrap">

              </div>
            </div>


          </div>
          


      </div>


        <div class='col-md-1'>

        </div>


         <div class='col-sm-12 col-md-5 container'>
        <br/>
        <br/>
        <br/>
          <div class="card" style="z-index: -1; background-color:#263238;">
          <div class="card-body text-center" style="color: white;">
               {% if object.rating >= 1 %}
              ({{ object.rating }})
              {% endif %}
                {% if object.rating >= 1 and object.rating < 2 %}
          <span class="fa fa-star checked"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            {% endif %}

            {% if object.rating >= 2 and object.rating < 3 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if object.rating >= 3 and object.rating < 4 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if object.rating >= 4 and object.rating < 4.5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-o"></span>
            {% endif %}
          {% if  object.rating >= 4.5 and object.rating <= 5 %}
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        {% endif %}

           <p>{% trans "Posted" %} : {{ object.timestamp|timesince }} ago   {% if object.timestamp >= object.product_posted_days %}

                      <span class="badge badge-pill badge-danger">NEW</span>

                      {% endif %}</p>

           <h5>{% trans "Brand" %} : {{ object.brand }}</h5>
           <br/>
           {% if object.discount_price %}
           <h4> {% trans "Cost" %} : <strike> ${{ object.cost_per_day }}</strike> ${{ object.discount_price }}/day ({{ object.get_amount_percent_saved }}% Off)</h4>
           {% else %}
           <h4> {% trans "Cost" %} : ${{ object.cost_per_day }}/day</h4>
           {% endif %}

        </div>
        </div>




          <div id="form_lg" class="d-none d-md-block" style=" background-color:#ffffff;">
           <form class='form' style="padding: 60px; " method='POST' action='{% url "cart:add_to_cart" object.id %}'> {% csrf_token %}

              {% trans "Quantity" %}-: <input class='form-control' name='qty' type='number' value='1' min='1' max='10' />
              {% trans "Start Date" %}-:
               <br/>
              <i class="fas fa-calendar-week"></i>
               <input class='form-control' type="date" name='start_date' required='true' value='' id="txtDatelg" onchange="checkRentDatesLg(this.id)" />


              {% trans "End Date" %}-:
              <br/>
              <i class="fas fa-calendar-week"></i>
              <input class='form-control' type="date" name='end_date' required='true' value='' id="txtDatelg1" onchange="checkRentDatesLg(this.id)" />

          {% if object.variation_set.all %}

             {% if object.variation_set.sizes %}
             {% trans "Size" %}-:
              <select class='form-control' name='size_lg' id="sel_size_lg">
                <!-- {% for item in object.variation_set.sizes %}
                <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                {% endfor %} -->
              </select>

             {% endif %}

              {% if  object.variation_set.colors %}
              {% trans "Color" %}-:
              <select class='form-control' id="sel_color_lg" name='color' onchange="changeColor_lg()">
                {% for item in object.variation_set.colors %}
                <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                {% endfor %}
              </select>

             {% endif %}


          {% endif %}
          <br/>
           <input class='btn btn-light btn-block' style="background-color: #263238;  ; color:white;" type='submit' value='Add to cart' />
           </form>

          <br/>
          <br/>

           <!-- <a  href='{% url "cart:home" %}'><button type='submit' class='btn btn-primary'> Go to Cart </button> </a> -->


           <!-- <h3 class='text-center'> {% trans "Variations available" %}</h3>
          <br/>
            <table class="table" style="background-color: #263238; color: white;">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Size and Color" %}</th>
                <th>{% trans "Quantity" %}</th>
              </tr>
            </thead>
            <tbody>





             {% for obj in qs %}
             <tr>
             {% if obj.quantity > 5 %}


           <td> {{ forloop.counter }}. </td>
            {% if obj.variations.all %}
          <td>{% for item in obj.variations.all %}
           {{ item.title|capfirst }}
          {{ item.category|capfirst }} <br/>



            {% endfor %} </td>
          <td>  <font color="orange">Sufficient</font> </td>


            {% else %}
            <td> as in image
              </td>
             <td>  <font color="orange">Sufficient</font> </td>
            {% endif %}



             {% else %}


            <td> {{ forloop.counter }}. </td>
            {% if obj.variations.all %}
           <td>{% for item in obj.variations.all %}
           {{ item.title|capfirst }} {{ item.category|capfirst }}

            <br/>
            {% endfor %} </td>
            {% else %}
            <td> as in image
             </td>

            {% endif %}

          <td> <font color="red">({{ obj.quantity }} left only) </font> </td>
            </div>

            {% endif %}
            {% empty %}
            <td>
          <font color="red"> <p class='col-12'>  Sorry no products available.</p></font>
            </td>
            {% endfor %}
          </tr>
              </tbody>
            </table>
          -->
          <!-- <div class="container pb-3">
            {% for q in qs %}
            {% if q.variations.all %}
              {% for item in q.variations.all %}
              <span class="px-2 col" style="border: 1px #1daf9e solid; border-radius: 50%; background: #1daf9e; color: #fff">{{ item.title|capfirst }}</span>

              {% endfor %}
              <span class="px-2 col" style="border: 1px #1daf9e solid; border-radius: 50%; background: #1daf9e; color: #fff">{{ q.quantity }}</span> <br/>
            {% endif %}

            {% endfor %}
          </div> -->

          <div class="container">
            <div id="div_variants_2" class="d-flex flex-row flex-wrap">

            </div>
          </div>


        </div>
              </div>
         <hr/>


             <!-- slider -->
    <div class='col-lg-12 col-md-12 col-sm-12' style="margin-top: 5rem;">
      <style>
        .checked {
          color: orange;
        }
      </style>
      <h3>{% trans "Rating and Reviews" %} (Overall rating: {{ object.rating }})</h3>
      <br/>
      {% if reviews.exists %}
      {% for rev in reviews %}
     <strong>{{ forloop.counter }}.</strong>


       {% if rev.email.profile_image %}
                <img src="{{ rev.email.profile_image.url }}" class="rounded-circle z-depth-0"
                  alt="avatar image" height="50" width="50" />

                  {% else %}
                  <img src='{% static "img/images.jpg" %}' class="rounded-circle z-depth-0"
                  alt="avatar image" height="50" width="50" />
      {% endif %}
      , {{ rev.email.full_name }} ,

       {% ifequal rev.rating 1 %}
       <span class="fa fa-star checked"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        {% endifequal %}

        {% ifequal rev.rating 2 %}
       <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-o"></span>
      <span class="fa fa-star-o"></span>
      <span class="fa fa-star-o"></span>
        {% endifequal %}
       {% ifequal rev.rating 3 %}
       <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-o"></span>
      <span class="fa fa-star-o"></span>
        {% endifequal %}
       {% ifequal rev.rating 4 %}
       <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-o"></span>
        {% endifequal %}
      {% if rev.rating == 5 %}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
        {% endif %}
        , {{ rev.timestamp|timesince }} ago


          <div class="container p-3 my-3 border" style="background-color:#c8efea;;">
            {{ rev.review }}
          </div>
          <hr/>
     {% endfor %}
        {% else %}

        <div class="container p-3 my-3 border" style="background-color: white;"> Not Reviewed yet! </div>
        {% endif %}


    </div>



        {% if similar_products %}
    <div class='col-lg-12 col-md-12 col-sm-12' style="margin-top: 2rem; background-color: white;">



        <h3 class="text-center" style="margin-top: 5rem;">Similar Products</h3>
              </br>


   <!-- <section class="text-center"> -->

    <div class="d-flex flex-row scrolling-wrapper justify-content-between" style="background: #fff !important;">

          <!--Grid column-->
      {% for object in similar_products %}
         <div class="col-lg-3 col-md-4 col-sm-4 mb-4 text-center" >
            {% include 'analytics/trending_card.html' with instance=object %}
        </div>
      {% endfor %}



    </div>

  </div>
   {% endif %}

</div>


</div>

<script type="text/javascript">

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }

  function allVariants() {
    //var sel_size = document.getElementById("sel_size_lg");
    var sel_size_2 = document.getElementById("sel_size");
    //sel_size.innerHTML = "";
    sel_size_2.innerHTML = "";
    document.getElementById("div_variants").innerHTML = "";
    document.getElementById("div_variants_2").innerHTML = "";
    var sel_color = document.getElementById('sel_color');
    var sel_color_value = sel_color.value.toLowerCase();
    // var sel_color_2 = document.getElementById('sel_color_lg');
    // var sel_color_value_2 = sel_color_2.value.toLowerCase();
    console.log("allVBar");
    {% for q in qs %}
    {% if q.variations.all %}
      var title = ["x"];
      {% for item in q.variations.all %}
      // <span class="px-2 col" style="border: 1px #1daf9e solid; border-radius: 50%; background: #1daf9e; color: #fff">{{ item.title|capfirst }}</span>
        console.log("item", "{{item.title}}");
        title[title.length] = "{{item.title}}";
      {% endfor %}
      console.log("title", title);
      console.log("inc", title.includes(sel_color_value));
      console.log("quant", "{{q.quantity}}");
      if ((title.includes(sel_color_value))) {
        var option = document.createElement("option");
        option.value = title[1].toLowerCase();
        option.text = title[1].toUpperCase();
        //sel_size.add(option);
        sel_size_2.add(option);
        //console.log("option", sel_size);
        var p_row = document.createElement('div');
        p_row.className = "col-3 col-md-4 col-lg-2";
        var p1 = document.createElement('p');
        p1.className = "text-center text-wrap";
        p1.setAttribute("style", "border: 1px #1daf9e solid; border-radius: 50%; background: #1daf9e; color: #fff");
        var p2 = document.createElement('p');
        p2.className = "text-center text-wrap";
        var n1 = document.createTextNode(title[1].toUpperCase());
        p1.appendChild(n1);
        if ("{{q.quantity}}"<=11) {
          console.log("bg");
          p2.setAttribute("style", "color: #ff0000; font-size: 70%");
          var n2 = document.createTextNode("Hurry!, only " + "{{q.quantity}}" + " left");
          p2.appendChild(n2);
        }
        p_row.appendChild(p1);
        p_row.appendChild(p2);
        document.getElementById("div_variants").appendChild(p_row);
        //document.getElementById("div_variants_2").appendChild(p_row);
      }
    {% endif %}

    {% endfor %}
  }

  function allVariants_lg() {
    var sel_size = document.getElementById("sel_size_lg");
    sel_size.innerHTML = "";
    document.getElementById("div_variants_2").innerHTML = "";
    var sel_color_2 = document.getElementById('sel_color_lg');
    var sel_color_value_2 = sel_color_2.value.toLowerCase();
    console.log("allVBar_lg");
    {% for q in qs %}
    {% if q.variations.all %}
      var title = ["x"];
      {% for item in q.variations.all %}
      // <span class="px-2 col" style="border: 1px #1daf9e solid; border-radius: 50%; background: #1daf9e; color: #fff">{{ item.title|capfirst }}</span>
        console.log("item", "{{item.title}}");
        title[title.length] = "{{item.title}}";
      {% endfor %}
      console.log("title", title);
      console.log("inc", title.includes(sel_color_value_2));
      console.log("quant", "{{q.quantity}}");
      if ((title.includes(sel_color_value_2))) {
        var option = document.createElement("option");
        option.value = title[1].toLowerCase();
        option.text = title[1].toUpperCase();
        sel_size.add(option);
        console.log("option", sel_size);
        var p_row = document.createElement('div');
        p_row.className = "col-3 col-md-4 col-lg-2";
        var p1 = document.createElement('p');
        p1.className = "text-center text-wrap";
        p1.setAttribute("style", "border: 1px #1daf9e solid; border-radius: 50%; background: #1daf9e; color: #fff");
        var p2 = document.createElement('p');
        p2.className = "text-center text-wrap";
        var n1 = document.createTextNode(title[1].toUpperCase());
        p1.appendChild(n1);
        if ("{{q.quantity}}"<=10) {
          console.log("bg");
          p2.setAttribute("style", "color: #ff0000; font-size: 70%");
          var n2 = document.createTextNode("Hurry!, only " + "{{q.quantity}}" + " left");
          p2.appendChild(n2);
        }
        p_row.appendChild(p1);
        p_row.appendChild(p2);
        document.getElementById("div_variants_2").appendChild(p_row);
      }
    {% endif %}

    {% endfor %}
  }

  function changeColor_lg() {
    console.log("cc_lg");
    {% if images %}

    document.getElementById('thumbnail_img').innerHTML = "";
    document.getElementById('ms_div').innerHTML = "";
    var ic = 0;
    var sel_color = document.getElementById('sel_color_lg');
    var sel_color_value = sel_color.value.toLowerCase();
    console.log("sel", sel_color_value);

      {% for img in images %}
        console.log("url", "{{ img.image.url }}");
        {% for vari in img.variations.all %}
          // {% if vari.category == "color" %}
          //   {% if vari.title == sel_color_value %}
          //     ic++;
          //     console.log("ic", ic);
          //   {% endif %}
          // {% endif %}
          var cat = "{{vari.category}}";
          cat = cat.toLowerCase();
          var title = "{{vari.title}}";
          title = title.toLowerCase();
          if ((cat.localeCompare("color") == 0) && (title.localeCompare(sel_color_value) == 0)) {
              ic++;
          }
        {% endfor %}
     {% endfor %}
    {% endif %}
    var imgIndex = 0;
    {% if images %}
      {% for img in images %}
        console.log("url", "{{ img.image.url }}");
        {% for vari in img.variations.all %}
          // {% if vari.category == "color" %}
          //   {% if vari.title == sel_color_value %}
          //     ic++;
          //     console.log("ic", ic);
          //   {% endif %}
          // {% endif %}
          var cat = "{{vari.category}}";
          cat = cat.toLowerCase();
          var title = "{{vari.title}}";
          title = title.toLowerCase();
          var availList_row = document.createElement('div');
          availList_row.className = "d-flex flex-row justify-content-start";
          if ((cat.localeCompare("color") == 0) && (title.localeCompare(sel_color_value) == 0)) {
              imgIndex++;
              var ms = document.createElement('div');
              ms.className = "mySlides margin-l";
              var nt = document.createElement('div');
              var img_1 = document.createElement('img');
              nt.className = "numbertext";
              nt.innerHTML = imgIndex + "/" + ic + " {{ img.variations.title }} ";
              img_1.className = "zoom wid";
              img_1.src = "{{img.image.url}}";
              ms.appendChild(nt);
              ms.appendChild(img_1);
              document.getElementById('ms_div').appendChild(ms);
              var thumbnail_col = document.createElement('div');
              thumbnail_col.className = "col-3";
              thumbnail_col.setAttribute("style", "background: #f7f7f7");
              var thumbnailImg = document.createElement('img');
              thumbnailImg.className = "demo cursor h-100";
              thumbnailImg.src = "{{img.image.url}}";
              thumbnailImg.id = imgIndex;
              thumbnailImg.setAttribute("style", "width:100%; background: #f7f7f7");
              thumbnailImg.setAttribute("onclick", "currentSlide(this.id)");
              thumbnailImg.alt = "img.1";
              thumbnail_col.appendChild(thumbnailImg);
              document.getElementById('thumbnail_img').appendChild(thumbnail_col);
          }
        {% endfor %}
     {% endfor %}

    allVariants_lg();
    currentSlide(1);
    {% endif %}
  }
  function changeColor() {
    console.log("cc");
    {% if images %}

    document.getElementById('thumbnail_img').innerHTML = "";
    document.getElementById('ms_div').innerHTML = "";
    var ic = 0;
    var sel_color = document.getElementById('sel_color');
    var sel_color_value = sel_color.value.toLowerCase();
    console.log("sel", sel_color_value);

      {% for img in images %}
        console.log("url", "{{ img.image.url }}");
        {% for vari in img.variations.all %}
          // {% if vari.category == "color" %}
          //   {% if vari.title == sel_color_value %}
          //     ic++;
          //     console.log("ic", ic);
          //   {% endif %}
          // {% endif %}
          var cat = "{{vari.category}}";
          cat = cat.toLowerCase();
          var title = "{{vari.title}}";
          title = title.toLowerCase();
          if ((cat.localeCompare("color") == 0) && (title.localeCompare(sel_color_value) == 0)) {
              ic++;
          }
        {% endfor %}
     {% endfor %}
    {% endif %}
    var imgIndex = 0;
    {% if images %}
      {% for img in images %}
        console.log("url", "{{ img.image.url }}");
        {% for vari in img.variations.all %}
          // {% if vari.category == "color" %}
          //   {% if vari.title == sel_color_value %}
          //     ic++;
          //     console.log("ic", ic);
          //   {% endif %}
          // {% endif %}
          var cat = "{{vari.category}}";
          cat = cat.toLowerCase();
          var title = "{{vari.title}}";
          title = title.toLowerCase();
          var availList_row = document.createElement('div');
          availList_row.className = "d-flex flex-row justify-content-start";
          if ((cat.localeCompare("color") == 0) && (title.localeCompare(sel_color_value) == 0)) {
              imgIndex++;
              var ms = document.createElement('div');
              ms.className = "mySlides margin-l";
              var nt = document.createElement('div');
              var img_1 = document.createElement('img');
              nt.className = "numbertext";
              nt.innerHTML = imgIndex + "/" + ic + " {{ img.variations.title }} ";
              img_1.className = "zoom wid";
              img_1.src = "{{img.image.url}}";
              ms.appendChild(nt);
              ms.appendChild(img_1);
              document.getElementById('ms_div').appendChild(ms);
              var thumbnail_col = document.createElement('div');
              thumbnail_col.className = "col-3";
              thumbnail_col.setAttribute("style", "background: #f7f7f7");
              var thumbnailImg = document.createElement('img');
              thumbnailImg.className = "demo cursor h-100";
              thumbnailImg.src = "{{img.image.url}}";
              thumbnailImg.id = imgIndex;
              thumbnailImg.setAttribute("style", "width:100%; background: #f7f7f7");
              thumbnailImg.setAttribute("onclick", "currentSlide(this.id)");
              thumbnailImg.alt = "img.1";
              thumbnail_col.appendChild(thumbnailImg);
              document.getElementById('thumbnail_img').appendChild(thumbnail_col);
          }
        {% endfor %}
     {% endfor %}

    allVariants();
    currentSlide(1);
    {% endif %}
  }

var form_xs = document.getElementById('form_xs');
if (window.getComputedStyle(form_xs).display === "none") {
  console.log("invisi");
  changeColor_lg();
} else {
  console.log("visi");
  changeColor();
}




</script>

<script>

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}
// Thumbnail image controls



</script>
 {% endblock %}
