{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class='container'>
</br>
<title>{{ title }}</title>
<div class='container'>
    <div class='row'>
        <div class='col-sm-12'>
           <div class='col-sm-8 pull-left'>
           <h1>{{ object.product_name }}
          
         </h1> 
         </div>
         <div class='col-sm-4 col-xs-6 pull-right'>
           <form class='form' method='POST' action='{% url "cart:add_to_cart" object.id %}'> {% csrf_token %}
             <input class='btn btn-dark btn-block' type='submit' value='Add to cart' />
              Quantity-: <input class='form-control' name='qty' type='number' value='1' />
              Start Date-: <input class='form-control' name='start_date' required='True' type='date' value='start_date' />
              End Date-: <input class='form-control' name='end_date' required='True' type='date' value='end_date' />
             
          {% if object.variation_set.all %}

             {% if object.variation_set.sizes %}
             Size-:
              <select class='form-control' name='size'>
                {% for item in object.variation_set.sizes %}
                <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                {% endfor %}
              </select>
              
             {% endif %}
              
              {% if  object.variation_set.colors %}
              Color-:
              <select class='form-control' name='color'>
                {% for item in object.variation_set.colors %}
                <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                {% endfor %}
              </select>
              
             {% endif %}


          {% endif %}
           </form>
         </br>
           <!-- <a  href='{% url "cart:home" %}'><button type='submit' class='btn btn-primary'> Go to Cart </button> </a> -->
           </div>
         <hr/>
         
            <div class="card" style="width: 18rem">
            {% if object.image %}
            <img src='{{ object.image.url }}' class='img-fluid' />
             {% endif %}  
            </div>
             {% for img in images %}
             <div class='col-xs-6 col-md-3'>
               <a href="#">
             <img class='img-thumbnail' src='{{ img.image.url }}' />
             </a>
             </div>
             {% endfor %}
          
           {{ object.timestamp|timesince }} ago
           <h5>Brand-: {{ object.brand }}</h5>
           
           {% if object.discount_price %}
           <h6> Cost per day-:<strike> ${{ object.cost_per_day }}</strike> ${{ object.discount_price }} ({{ object.get_amount_percent_saved }}% Off)</h6>
           {% else %}
           <h6> Cost per day-: ${{ object.cost_per_day }}</h6>
           {% endif %}
            {{ object.description|linebreaks }}<br/>
       

        </div>


       
<div class='col-12 col-md-8'>
           
       
      
    
      
    </br>
    {{ all }}


</div>
</div>
</div>
</div>


 <h1>Our Customers Rating and Reviews.</h1>
 {% if reviews.exists %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserName</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
    
      
      
      
    </tr>
  </thead>
  
  <tbody>
   
    {% for rev in reviews %}
      <tr>

    
      <th scope="row">{{ forloop.counter }}</th>
      <td> {{ rev.email.full_name }}
      
      </td>
      <td>{{ rev.review }}</td>
      <td>{{ rev.rating }} out of 5</td>
     
    </tr>
     
    {% endfor %}
   
    


  </tbody>
</table>

{% else %}

<p class='lead'>Not Reviewed yet!</p>
 {% endif %}



 {% endblock %}

 