{% extends "supplier_base.html" %}

{% block content %}
{% if request.user == name.user %}
        <div class='row'>
            <div class='col-12 my-3'>
                    <h2 class='text-center'>My Product Quantity</h2>
                    <hr/>
            </div>
      <div class='container' style='background-color:teal; color:white'>
    <h4 class='text-center'> Product's colors and sizes available now.</h4>
     {% for obj in qs1 %}
     
      <div class='col text-left'>
    <strong> {{ forloop.counter }}.

       {{ obj.product }}
       {{ obj.title }} {{ obj.category }}
      
      </strong>
      </div>
       {% endfor %}
    
    <hr/>
    </br>
        </div>
    
         <div class='container' style='background-color: #263238; color:white'>
           <h4 class='text-center'> Available Product quantity (for each variations).</h4>
            {% for obj in qs %}
            <div class='col-12 my-3'>
      <strong>  {{ forloop.counter }}.
       {{ obj.product }},
       {% for item in obj.variations.all %}
       {{ item.title }} {{ item.category }}, 
       {% endfor %}
       
       {% if obj.quantity > 8 %}
      <font color="green"> Available Quantity-: {{ obj.quantity }} only </font>
       {% else %}
       <font color="red">Available Quantity-: {{ obj.quantity }} only </font> 
       {% endif %}
      
      </strong>
       <a href="{% url 'products:quantityupdate' obj.id %}" class=" btn btn-success">Update Quantity? </a>
         </div>
      <br/>
      {% empty %}
      <p class='col-12'>  You have not created any products yet.</p>
    {% endfor %}
  <hr/>
    <strong>Note: If quantity for any size and color not available, Then <a href='{% url "addproductdetails" %}'> Add here.</a>  </strong>
    </div>
</div>
{% else %}
<h2 class='text-center mt-4'>Oops! Access Denied.</h2>
{% endif %}
{% endblock %}