{% extends "base.html" %}

{% block content %}
</br>
<title>{{ title }}</title>
<div class='container'>
    <div class='row'>
        <div class='col-12 col-md-6'>
           <h1>{{ object.product_name }}</h1> 
           {{ object.timestamp|timesince }} ago
           <h5>Brand-:{{ object.brand }}</h5>
           <h6> Cost per day-: ${{ object.cost_per_day }}</h6>
           <h6> Quantity-: {{ object.quantity}} remaining only </h6>
           <h5>Sizes available: {{ object.size }}</h5>
            {{ object.description|linebreaks }}<br/>
             {% if object.image %}
            <img src='{{ object.image.url }}' class='img-fluid' />
             {% endif %}       

        </div>
        <div class='col-12 col-md-6'>
           
            
       {% include 'products/snippets/update_cart.html' with product=object cart=cart %}
        </br>
    
      <a  href='{% url "cart:home" %}'><button type='submit' class='btn btn-primary'> Go to Cart </button> </a>
        </br> 

      </br>
    </br>
 <!-- <div class='col-2 col-md-6 my-2'>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">select your size, time and other details</h5>
        <a class='list-group-item' href='{% url "other" %}'> fill details </a>
    
  </div>
</div>
</div> 
  -->

       <h6>Quantity</h6>
             
         <div class="col-sm-4 ">
        <input type="text" value="1" name='quantity' class="form-control" id="name3"> 
       </div>
</br>
    <div class="form-group" name='size'>
  <label for="sel1">Select size:</label>
  <select class="form-control" name='size' id="sel1">
    <option>None</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
  </select>
</div> 
      
</br>
<h6>Number of Days you want it?</h6>
 <div class="col-sm-4 ">
        <input type="text" value="1" name='days' class="form-control" id="name3"> 
       </div>
 
 </br>
</br>  


</div>
 </div>
 </div>
{% endblock %}

