{% extends "base.html" %}


{% block content %}

</br>
  <title>{{ title }}</title>
     <div class='container'>
       <div class="row">
       <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Books/Novels
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Hindi Novels</a>
    <a class="dropdown-item" href="#">English Novels</a>
    <a class="dropdown-item" href="#">Japnese Novels</a>
  </div>
       </div>
   <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Men
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'products:query1' 'menclothing' %}">Men's Clothing</a>
    <a class="dropdown-item" href="{% url 'products:query1' 'menfootwear' %}">Men's footwear</a>

  </div>
   </div>
   <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Women
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'products:query1' 'womenclothing' %}">Women's Clothing</a>
    <a class="dropdown-item" href="{% url 'products:query1' 'womenaccessories' %}">Women's Accessories</a>
  </div>
   </div>
    <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Electronics
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{% url 'products:query1' 'fitnessband' %}">Fitness-band</a>
    <a class="dropdown-item" href="{% url 'products:query1' 'laptops' %}">Laptops</a>
    <a class="dropdown-item" href="{% url 'products:query1' 'playstations' %}">Playstations</a>
     <a class="dropdown-item" href="{% url 'products:query1' 'musicalinstruments' %}">Musical Instruments</a>

  </div>
  </div>
       </div>     
      
         <div class='row'>
         </br>
        
         {% for obj in products %}
         <div class='col'>
          {{ forloop.counter }}
          {% include 'products/snippets/card.html' with instance=obj %}
          {% if forloop.counter|divisibleby:3 %}
                   </div> </div> <div class='row'> <div class='col-12'> <hr/> </div> 
          {% else %}
           </div>
          {% endif %}
          
     {% endfor %}

      </div>
     
    </div>
    
    
    
    
    
    {% if products.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
      <li class='page-item'><a class='page-link' href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class='page-item'><span class='current'>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class='page-item active'><span class='step-links'>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class='page-item active'><a class='page-link' href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li class='page-item'><a class='page-link' href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class='page-item'><span class='step-links'>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


    

 





{% endblock %}