{% extends "base.html" %}

{% block content %}
{% url 'products:query_5' as category_list_url_5 %}
  <title>{{ title }}</title>
    {% if qs.exists %}

  <div class='container'>
              <div class='text-center'>

       <h3>Subcategory -: {% if slug %} {{ slug|capfirst }} {% elif sub_slug %} {{ sub_slug|capfirst }} {% elif cat_slug %} {{ cat_slug|capfirst }} {% endif %}</h3>
       <br/>
       {% if color %} Results: {{ color }} Color {% else %} Results: {{ size }} Size{% endif %}
  
      
          
            
        <div class='col-12'>
                <hr> 
            </div>
           
    </div>
    <div class="row">
     <!-- <div class="dropdown">
       <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Price
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Low to high price</a>
    <a class="dropdown-item" href="#">High to Low price</a>
  </div>
     </div> -->
      {% if slug  %}
      <div class="dropdown mx-2">
        <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Color
      </a>
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for c in cc %}
        <a class="dropdown-item" href="{% url 'products:query_5' slug c.title %}"><span style='height: 25px; width: 25px; background-color: {{ c.title }}; border-radius: 50%; display: inline-block;'>&emsp; &emsp; {{ c.title|capfirst }} ({{ c.title__count }}) </span></a>
        {% endfor %}
       
      </div>
      </div>

      <div class="dropdown mx-2">
        <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Size
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for s in ss %}
        <a class="dropdown-item" href="{% url 'products:size_sub_query' slug s.title %}">{{ s.title|capfirst }} ({{ s.title__count }})</a>
        {% endfor %}
       

      </div>
      </div>
     
      {% endif %}

    </div>

    <div class='container py-2'>
      <div class='row'>
      <!-- <span class="badge badge-pill badge-secondary py-2 px-4 ml-2" style='cursor: pointer;' data-toggle="modal" data-target="#exampleModalCenter">
      <b> Sort &#8593;&#8595; </b>
      </span> -->
     </div>
    </div>

  

    <br/>
    <div class="container d-none d-md-block" style="background-color: white;">
      <br/>
    
         <div class='row'>
        

         {% for obj in qs %}

         <div class="col-lg-3 col-md-4 col-sm-4 mb-4" style="display: flex;
         flex-wrap: wrap; flex-grow: 1;
         flex-basis: 100px; flex-shrink: inherit;
 
         justify-content: space-between;flex: calc(30% - 5em);" >
   
          
       
          {% include 'products/snippets/card.html' with instance=obj %}
         
      </div>
     {% endfor %}

     
     </div>

     

    </div>


    <div class="container d-md-none" style="background-color: white;">
      <br/>
      <!-- <section class="text-center"> -->
      
      <div class="d-flex flex-row flex-wrap">
      
            <!--Grid column-->
             {% for obj in qs %}
            <div class="col-6 text-center p-0 m-0" >
      
      
                    {% include 'products/snippets/card.html' with instance=obj %}
      
                    </div>
      
      
             {% endfor %}
       </div>
      
      
      
      
      </div>

    {% else %}
    <h2>Oops There are no items in this category..</h2>
  {% endif %}
    </div>
{% endblock %}