{% extends "base.html" %}

{% block content %}
<br/>
<div class="container d-none d-md-block" style="background-color: white;">
        <div class='row'>
            <div class='col-12 my-3'>
                    <h3 class='text-center'>Recent Product View History</h3>
                    <hr/>
            </div>
    {% for obj in object_list %}
    {% if obj.content_object.Current_City == request.session.city_names %}
        
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4" style="display: flex;
    flex-wrap: wrap; flex-grow: 1;
    flex-basis: 100px; flex-shrink: inherit;

    justify-content: space-between;flex: calc(30% - 5em);" >

        
        
        {% include 'products/snippets/card.html' with instance=obj.content_object %}  
     
        </div>
           {% endif %}
    {% endfor %}
</div>
</div>



<div class="container d-md-none" style="background-color: white;">
        <br/>
        <!-- <section class="text-center"> -->
        
        <div class="d-flex flex-row flex-wrap">
        
              <!--Grid column-->
               {% for obj in object_list %}
               {% if obj.content_object.Current_City == request.session.city_names %}
              <div class="col-6 text-center p-0 m-0" >
        
        
                      {% include 'products/snippets/card.html' with instance=obj.content_object %}
        
                      </div>
        
               {% endif %}
               {% endfor %}
         </div>
        
        </div>
{% endblock %}