{% extends "base.html" %}
{% load static %}
{% block content %}
{% url 'products:query_5' as category_list_url_5 %}
  <title>{{ title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.colorcheckedvalues').click(function(){
        var txt = "";
        $('.colorcheckedvalues:checked').each(function(){
          txt+=$(this).val()+","

        });
        $('#allcolorsvalues').val(txt);
        $('#allcolorsvalues1').val(txt);

      });
    });
  </script>

    {% if qs %}

  <div class='container'>
              <div class='text-center'>

      <h3> {% if slug %} Subcategory -: {{ slug|capfirst }} {% elif sub_slug %} SubSubcategory -: {{ sub_slug|capfirst }} {% elif cat_slug %} Category -: {{ cat_slug|capfirst }} {% endif %}</h3>




        <div class='col-12'>
                <hr>
            </div>

    </div>
    <div class="d-flex flex-row">
     <!-- <div class="dropdown">
       <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Price
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Low to high price</a>
    <a class="dropdown-item" href="#">High to Low price</a>
  </div>
     </div> -->
      {% if slug  %}

  <form class='form' method='GET' action='{% url "products:query1" slug %}'>

      <div class="d-flex flex-row mt-1">
        <div class="dropdown mx-2">
          <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by Color
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for c in cc %}

          <label class="container"><span style='height: 25px; width: 25px; background-color: {{ c.title }}; border-radius: 50%; display: inline-block;'>&emsp; &emsp;  {{ c.title|capfirst }} ({{ c.title__count }})</span>

            {% if c.title in get_params %}

            <input class='colorcheckedvalues' value="{{ c.title }}" type="checkbox" checked>

            {% else %}

            <input class='colorcheckedvalues' value="{{ c.title }}" type="checkbox">

            {% endif %}

            <span class="checkmark"></span>
          </label>

          <!-- <a class="dropdown-item" href="{% url 'products:query_5' slug c.title %}"> -->

          {% endfor %}

          <!-- <a class="dropdown-item" href="{% url 'products:query_5' slug 'Red' %}">Red</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Black' %}">Black</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Green' %}">Green</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Blue' %}">Blue</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Mixed' %}">Mixed</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Other' %}">Other</a> -->

        </div>
        <input style='display: none;' type="text" name='allselectedparameters' id="allcolorsvalues" size="10">
        </div>


        <div class="dropdown mx-2">
          <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by Size
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for s in ss %}

          <label class="container">{{ s.title|capfirst }} ({{ s.title__count }})
            {% if s.title in get_params %}
              <input class='colorcheckedvalues' value="{{ s.title }}" type="checkbox" checked>
            {% else %}
              <input class='colorcheckedvalues' value="{{ s.title }}" type="checkbox">
            {% endif %}
            <span class="checkmark"></span>
          </label>

          <!-- <a class="dropdown-item" href="{% url 'products:size_sub_query' slug s.title %}">{{ s.title|capfirst }} ({{ s.title__count }})</a> -->
          {% endfor %}
          <!-- <a class="dropdown-item" href="{% url 'products:query_5' slug 'Black' %}">XL</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Green' %}">L</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Blue' %}">M</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Mixed' %}">S</a>
          <a class="dropdown-item" href="{% url 'products:query_5' slug 'Other' %}">XS</a> -->

        </div>
        </div>
        <button class='btn btn-success' type="submit">Apply</button>
      </div>
    </form>
      {% elif sub_slug %}
  <form class='form' method='GET' action='{% url "products:query2" sub_slug %}'>
      <div class="dropdown mx-2">
    <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Color
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for c in cc %}
    <label class="container"><span style='height: 25px; width: 25px; background-color: {{ c.title }}; border-radius: 50%; display: inline-block;'>&emsp; &emsp;{{ c.title|capfirst }} ({{ c.title__count }})</span>
      {% if c.title in get_params %}
          <input class='colorcheckedvalues' value="{{ c.title }}" type="checkbox" checked>

          {% else %}

          <input class='colorcheckedvalues' value="{{ c.title }}" type="checkbox">

      {% endif %}
      <span class="checkmark"></span>
    </label>
        <!-- <a class="dropdown-item" href="{% url 'products:query_6' sub_slug c.title %}"></a> -->
    {% endfor %}
    <!-- <a class="dropdown-item" href="{% url 'products:query_6' sub_slug 'Red' %}">Red</a>
    <a class="dropdown-item" href="{% url 'products:query_6' sub_slug 'Black' %}">Black</a>
    <a class="dropdown-item" href="{% url 'products:query_6' sub_slug 'Green' %}">Green</a>
    <a class="dropdown-item" href="{% url 'products:query_6' sub_slug 'Blue' %}">Blue</a>
    <a class="dropdown-item" href="{% url 'products:query_6' sub_slug 'Mixed' %}">Mixed</a>
    <a class="dropdown-item" href="{% url 'products:query_6' sub_slug 'Other' %}">Other</a> -->

  </div>
  <input style='display: none;' type="text" name='allselectedcolors' id="allcolorsvalues1" size="10">
</div>


      <div class="dropdown mx-2">
        <a class="btn btn-secondary dropdown-toggle"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Size
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for s in ss %}

        <label class="container">{{ s.title|capfirst }} ({{ s.title__count }})
          {% if s.title in get_params %}
            <input class='colorcheckedvalues' value="{{ s.title }}" type="checkbox" checked>
          {% else %}
            <input class='colorcheckedvalues' value="{{ s.title }}" type="checkbox">
          {% endif %}
          <span class="checkmark"></span>
        </label>

        <!-- <a class="dropdown-item" href="{% url 'products:size_sub_sub_query' sub_slug s.title %}">{{ s.title|capfirst }} ({{ s.title__count }})</a> -->
        {% endfor %}
        <!-- <a class="dropdown-item" href="{% url 'products:query_5' sub_slug 'Black' %}">XL</a>
        <a class="dropdown-item" href="{% url 'products:query_5' sub_slug 'Green' %}">L</a>
        <a class="dropdown-item" href="{% url 'products:query_5' sub_slug 'Blue' %}">M</a>
        <a class="dropdown-item" href="{% url 'products:query_5' sub_slug 'Mixed' %}">S</a>
        <a class="dropdown-item" href="{% url 'products:query_5' sub_slug 'Other' %}">XS</a> -->

      </div>
      <button class='btn btn-success' type="submit">Apply</button>
      </div>
    </form>
      {% endif %}

    </div>
    <br/>

    {% if cat_slug %}
    <div class='row'>
      <span class="badge badge-pill badge-secondary py-2 px-1 ml-2" style='cursor: pointer;'  data-toggle="modal" data-target="#exampleModalCenter">
        Sub Categories >
      </span>

      <span class="badge badge-pill badge-secondary py-2 px-4 ml-2" style='cursor: pointer;' data-toggle="modal" data-target="#exampleModalCenter1">
        <b> Sort &#8593;&#8595; </b>
        </span>


      </div>
      {% elif slug %}
      <div class='row'>
        <span class="badge badge-pill badge-secondary py-2 px-1 ml-2" style='cursor: pointer;' data-toggle="modal" data-target="#exampleModalCenter">
          Sub Sub Categories >
        </span>

        <!-- <span class="badge badge-pill badge-secondary py-2 px-4 ml-2" style='cursor: pointer;' data-toggle="modal" data-target="#exampleModalCenter1">
          <b> Sort &#8593;&#8595; </b>
          </span> -->

      </div>

      {% endif %}

    <br/>

    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% if cat_slug %} Sub Categories {% elif slug %} Sub Sub Categories {% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {% if cat_slug %}
        {% for sub_category in sub_cats %}
        <div class='px-2'>
           <a href="{% url 'products:query1' sub_category.slug %}">{{ sub_category.title }} </a>
        </div>
        {% endfor %}
      {% elif slug %}

      {% for sub_sub_category in sub_sub_cats %}
      <div class='px-2'>
        <a href="{% url 'products:query2' sub_sub_category.slug %}">{{ sub_sub_category.title }} </a>
      </div>
      {% endfor %}

      {% endif %}
      </div>

    </div>
  </div>
</div>



<div class="container " style="background-color: white;">

  <br/>
   <!-- <section class="text-center"> -->

    <div id="row_lg" class="d-flex flex-row flex-wrap prodList infinite-container">

          <!--Grid column-->
           {% for obj in qs %}
          <div class="col-6 col-lg-3 col-md-4 col-sm-4 p-0 m-0 prod infinite-item" data-price-item="{% if obj.discount_price %} {{ obj.discount_price }} {%else%} {{ obj.cost_per_day }} {%endif%}">


                  {% include 'products/snippets/card.html' with instance=obj %}

                  </div>

           {% endfor %}

    </div>



    {% if qs.has_next %}
    <a class="infinite-more-link" href="?page={{ qs.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
    Loading...
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>



</div>


</div>

    {% else %}
     <h2>Oops There are no items in this category..</h2>
   {% endif %}
    </div>
{% endblock %}
